[2015-12-03 11:51] mcmanus opened #1 "need real happy eyeballs support"
current stub is insufficient

[2015-12-03 11:51] mcmanus opened #2 "dns doesn't resolve ip literals"

[2015-12-05 18:47] tuexen opened #4 "Add support for FreeBSD"

[2015-12-13 08:09] #4 closed, assigned to tuexen

[2015-12-13 09:17] tuexen opened #11 "ifa_pref and ifa_valid don't get updated"
When a temporary IPv6 address is registered (either initially when the neat library is initialized or when such an address gets added to the system), the current values of the preferred and valid lifetime of the registered address is stored together with the address.

These values need to be updated. For example run a one second timer and decrement both values by 1 if they are positive and less th

[2015-12-13 12:57] kristrev opened #12 "dns does not respect ifa_pref/ifa_valid on receicve"
We need to check the validity of ifa_pref also on DNS receive, not just send.

[2015-12-13 13:30] weinrank opened #13 "neat_basic - resolver closes not properly"
Valgrind reports a memory leak for the neat_basic app:
http://buildbot.nplab.de:28010/builders/ubuntu-14.04/builds/32/steps/shell_1/logs/stdio

In the neat basic_example we stop the event_loop after reading the server's answer:
https://github.com/NEAT-project/neat/blob/master/samples/neat_basic.c#L42

Then we call `neat_free_flow` and `neat_free_ctx`:
https://github.com/NEAT-project/neat/blob/mast

[2015-12-17 22:46] #11 closed, assigned to tuexen

[2015-12-18 13:12] tuexen opened #15 "Basic SCTP support is missing"
There is no support for kernel SCTP on platforms supporting SCTP.

[2015-12-18 16:02] #2 closed, assigned to kristrev

[2015-12-18 16:02] #13 closed, assigned to kristrev

[2015-12-18 16:24] #12 closed, assigned to kristrev

[2015-12-18 16:25] kristrev opened #17 "Support address update in resolver"
We need to handle address update messages in the resolver, so that we can remove pairs with a source address that is deprecated. Function will be very similar to deladdr.

[2015-12-18 21:22] #15 closed, assigned to tuexen

[2015-12-19 17:10] kristrev opened #19 "Add address timer"
We currently start the timeout in the resolver only when we get the first address. This means that if the user requests addresses from a family which the machine has been allocated one, the resolver will just hang. Change this by starting DNS timeout in neat_getaddrinfo(). Addresses should be available in no-time anyway (and we can just restart timer for that matter).

[2015-12-19 17:53] #19 closed, assigned to nobody

[2015-12-19 17:54] kristrev opened #20 "Addresses are returned four times"
This is clearly not correct:

TCP/IPv4[SOCK_STREAM]: 192.168.5.151 -> 212.201.121.100
TCP/IPv4[SOCK_STREAM]: 192.168.5.151 -> 212.201.121.100
TCP/IPv4[SOCK_STREAM]: 192.168.5.151 -> 212.201.121.100
TCP/IPv4[SOCK_STREAM]: 192.168.5.151 -> 212.201.121.100

[2015-12-19 18:54] #20 closed, assigned to kristrev

[2015-12-19 19:00] kristrev opened #22 "Refactor resolver"
Resolver works fine, but the code is not exactly a beauty. For example:
- The current data structure used when resolving is very inefficient when for example searching. We could for example use a three rooted in the source address.
- Lots of duplicate/very similar code. For example searching for resolve pair and adding a result.

I do not believe in premature optimisations, so this task can be pos

[2016-01-06 20:39] mcmanus opened #24 "neat_write should buffer anything not writable"
as discussed in paris-dec-2015, neat_write should accept the full contents of the write so that message semantics can be preserved if provided by the underlying transport

[2016-01-06 20:57] #24 closed, assigned to nobody

[2016-01-06 21:04] mcmanus opened #26 "message semantics"
need a message semantic property.. so callers can demand that from their open.. and then the buffering of neat_write needs to reflect the boundaries.. and message senders (udp/sctp?) should implement it.

so still some work to do here..

[2016-01-20 00:36] weinrank opened #27 "on_disconnected callback"
I suggest to add an **on_disconnect** callback.
While writing some applications with the neat api i missed this callback when a client disconnects from a server.

[2016-01-23 08:58] tuexen opened #30 "neat_basic_sctp hangs on NetBSD"
When running `neat_basic_sctp` on NetBSD, it just hangs forever. On Mac OS X it terminates with an error. Neither Mac OS X nor NetBSD support SCTP out of the box, but Mac OS X defines `IPPROTO_SCTP`, whereas NetBSD doesn't. So the error handling in case of `IPPROTO_SCTP` being undefined seems to have a bug.

[2016-01-26 15:43] weinrank opened #31 "How to set callbacks"
Is it possible to set the `on_readable` and `on_writable` callbacks for a flow from another callback of libuv which is not part of neat _after_ the connection has been established?

e.g. here:
https://github.com/NEAT-project/neat/blob/fhm-examples/samples/client.c#L47

[2016-02-01 11:01] tuexen opened #33 "Calling neat_free_flow() crashes"
The following simple program:

[code]

crashes.
@kristrev: Can you have a look?

[2016-02-01 11:02] #30 closed, assigned to tuexen

[2016-02-01 15:42] #33 closed, assigned to nobody

[2016-02-01 17:39] #31 closed, assigned to nobody

[2016-02-08 13:30] tuexen opened #38 "Improve reporting related to EMSGSIZE"
For buffered messages this might be reported too late or not at all.

[2016-02-08 15:05] #38 closed, assigned to tuexen

[2016-03-09 13:40] kristrev opened #42 "How to handle multiple async calls"
We need to decide how to handle the case where a second API call happens before the first is finished. The most common pattern seems to be that the second call should fail, assuming the calls are in conflict. Is this the way we want to go? If so, identify where and when it can happen and decide upon return values. EBUSY or something.

The issue was raised by Toerless during the plenary in Aberdeen

[2016-03-09 14:16] kristrev opened #43 "Missing bind()"
neat_connect_via_kernel() needs to bind to correct source address and interface (silently fail if not root). Code is basically the same as in the resolver, so consider merging these functions.

Clean up the code while at it. Missing error checks etc.

[2016-04-05 12:35] weinrank opened #44 "NEAT_PROPERTY_IPVX_REQUIRED properties are ignored"
The `NEAT_PROPERTY_IPV4_REQUIRED` or `NEAT_PROPERTY_IPV6_REQUIRED` properties are ignored.

[code]

[code]

I used the following DNS-records:

[code]

[2016-04-05 16:01] weinrank commented on #44
Update: Same with `NEAT_PROPERTY_IPV6_BANNED`

[code]

[2016-04-05 16:37] weinrank opened #45 "Can't use IP-Address for neat_open()"
I created an new example (neat_http_get) to demonstrate the issue:
When using an IP-Address or an unresolvable address `neat_open()` doesn't behave very well. ;)

See buildbots for details.

Steps to reproduce the issue
[code]

[2016-04-05 23:30] weinrank opened #46 "client sample - on_writable callback set at runtime never fired"
I'm not shure if this is an issue with neat or my example:

In [client.c](https://github.com/NEAT-project/neat/blob/master/samples/client.c#L173) the `tty_read` callback sets the `on_writable` callback [here](https://github.com/NEAT-project/neat/blob/master/samples/client.c#L194)

So the input from stdin, memcopied to the buffer, should be sent via the `on_writable` cb.

This worked fine until the

[2016-04-06 05:59] karlgrin commented on #46
Ok. I will check this once I am back coding.

[2016-04-06 10:28] kristrev commented on #46
Perhaps we should revert all the HE commits, if those are the ones causing
problems (until bug is fixed)? Now that the project + github has present at
IETF, it will look bad if someone decides to take a look and stuff does not
work.

-Kristian

On Wed, Apr 6, 2016 at 7:59 AM, Karl-Johan Grinnemo <
notifications@github.com> wrote:

[2016-04-06 11:00] apetlund commented on #46
+1. It's bad timing for broken functionality.

-Andreas

On 6 April 2016 at 12:28, Kristian Evensen <notifications@github.com> wrote:

[2016-04-06 11:57] tuexen commented on #46
If we won't have it in the tree, we won't see the issues.
So I think the point is not to have bugs, but fix them. We are giving
access to the development tree, we have not made a release saying this
is working und these conditions.

Making a release and saying this works and it doesn't is a different story.

Best regards
Michael

[2016-04-06 12:06] tuexen commented on #46
... I double checked my statement, that we have not done a release by looking at
https://github.com/NEAT-project/neat/releases
and found that we had two releases (v1.0 and v2.0).

I DELETED THESE RELEASES!

I don't think we have agreed on that nor do I think we are
are that stage yet, especially not for a 2.0 version.

Best regards
Michael

[2016-04-06 12:07] apetlund commented on #46
:) - unexpected. Thank's for checking.

-AP

On 6 April 2016 at 14:06, Michael Tüxen <notifications@github.com> wrote:

[2016-04-06 12:22] mcmanus commented on #46
On Apr 6, 2016 9:06 AM, "Michael Tüxen" <notifications@github.com> wrote:

looking at

Thank you. I agree the right thing is just to work on a .1 with the bug
tracker.. Being open just means transparency about making the sausage.
Actually seeing normal activity including backouts is a sign of health.

Otoh if the state of the tree is blocking other devs then reverting is a
good policy. I'm neutral

[2016-04-06 13:08] tuexen commented on #46
I don't think this is blocking anyone. It gets an initial implementation
in place which now more people can play with, report issues on such that
it can be improved. So far I see no issue with that. No need to back-out
the code as far as I'm concerned.

Best regards
Michael

[2016-04-06 13:16] mwelzl commented on #46
+1

and thanks, Michael, for deleting the releases. I’m sure this was only done by accident.

Cheers,
Michael

[2016-04-11 23:37] #46 closed

[2016-04-12 12:01] kristrev commented on #45
Which component is it that fails? Michael and me added support for literals to the resolver some time ago, which seems to work fine. And the resolver should time out with a bogus domain. Of course, we might have missed something ...

[2016-04-12 14:42] weinrank commented on #45
I'm currently adding debug output and logging to various functions. When i'm done we hopefully have a clearer view on the issue.

[2016-04-13 14:48] kristrev commented on #43
Fixed #54

[2016-04-13 14:48] #43 closed

[2016-04-18 11:42] #45 closed

[2016-04-19 15:21] weinrank opened #58 "Happy Eyeballs - memory leak with literals and multiple NICs"
When running the `neat_http_get` example with an IP-address as a target on a system with multiple NICs the Happy Eyeballs code leaks memory.

System is a Ubuntu 15.10

[code]

[2016-04-19 15:22] weinrank opened #59 "Happy Eyeballs - SIGSEGV, Segmentation fault."
When running `neat_http_get` with an unresolvable DNS name, there is an segfault error.
See [buildbot-output](http://buildbot.nplab.de:28010/builders/ubuntu-14.04/builds/317/steps/shell_7/logs/stdio) for details.

https://github.com/NEAT-project/neat/blob/master/neat_he.c#L122
The assert checks for `assert (results->lh_first);` but `results` is already a nullptr

[2016-04-26 10:36] karlgrin commented on #58
Hi Felix!
It seems that the problem only occurs when running valgrind: When running ./neat_http_get 212.201.121.100 within valgrind on a system with three NIC:s, the program makes three connection attempts -- one from each of the available NICS -- however, the connect callback, he_connected_cb,  is only called for the winning connection (in my case, the only feasible connection). The remaining con

[2016-04-26 11:16] weinrank commented on #58
Hey Karl-Johan,

except timing it should make no difference if we run the examples with or without valgrind - otherwise we should investigate the reason.

Nevertheless, i don't see any difference in the debug output when runnning the example with or without valgrind. See attached logfiles. It is a Ubuntu 16.04 System with two NICs.
[normal.txt](https://github.com/NEAT-project/neat/files/236445/nor

[2016-04-26 11:47] #59 closed

[2016-04-26 12:02] karlgrin commented on #58
I agree, there shouldn't be any difference -- except timing -- between using and not using valgrind. From your log files, I see the problem: he_connected_cb is only invoked once, but should be invoked twice. In contrast to you, I am not obtaining the same results with and without valgrind. I will have to make some further digging.

[2016-05-03 08:14] weinrank opened #75 "Happy-Eyeballs broken"
Dear Karl-Johan,

the Happy-Eyeballs feature is broken.
When running the examples, they only work if we specify a single protocol.

We updated the [buildbot](http://buildbot.nplab.de:28010/waterfall) system so the problem should become more clear.
The `neat_basic` (TCP) and `neat_basic_sctp` (SCTP) examples succeed on all platforms - fine.

`neat_http_client` (TCP + SCTP) fail on all systems where

[2016-05-03 11:09] karlgrin commented on #75
OK. I will look into it. By the way, did you use kernel or userspace scup?

[2016-05-03 11:11] weinrank commented on #75
Kernel SCTP in all cases.
For SCTP in userspace we only run compile tests on OSX and NetBSD but it is never used.

[2016-05-03 13:00] ruengeler commented on #75
As far as I could see, the problem is the following:
For the first connection the socket for the flow is set (neat_core.c line 621 flow->fd = he_ctx->fd). If the second connection is successful, flow->closefx is called and the socket of the flow is closed, which is the socket of the first connection. There should be the possibility to close a socket independent of a flow.

[2016-05-10 07:09] naeemk opened #78 "Description needed for samples"
Currently empty `samples/README.md`. We have several tests in `samples/` that need description. Update for the existing samples and also as new items are added.

[2016-05-10 07:35] weinrank commented on #78
I will update the readme file within this week.
Currently there is a mixture of sample and tests in the folder - e.g. the `neat_basic`, `neat_basic_sctp` and `neat_resolver_example` are tests for the NEAT-API in my point of view.

Any objections if i rename the files? `neat_basic` -> `test_basic` or `neat_resolver_example` -> `test_resolver` would make the purpose of the files more clear.

[2016-05-10 07:38] naeemk commented on #78
No objection from my side.

[2016-05-10 08:22] tuexen commented on #78
Maybe even have two directories: One for tests and and for samples? Each with its own
Readme, of course...

Best regards
Michael

[2016-05-10 09:06] weinrank commented on #78
@tuexen Sounds good, i will prepare a branch...

@kristrev @karlgrin @mcmanus  do you agree?

[2016-05-10 09:24] kristrev commented on #78
Yes, fine by me. However, writing the readme sounds like a good task to do by someone who has not worked with the code but need to get into it ... ;)

[2016-05-10 11:11] karlgrin commented on #78
I have no objections against it.

[2016-05-10 12:41] weinrank commented on #78
See #79

@kristrev i agree! 👍

[2016-05-10 15:49] #78 closed

[2016-05-19 08:24] oystedal opened #81 "Reworking the implementation of neat_set_property"
As of currently, the properties requested by an application is specified as a bit-mask inside a single integer, which is then passed to `neat_set_property()`. I propose to use strings to specify requests for features instead of using a bit-mask.

Example usage would be `neat_set_property(ctx, flow, "TCP_REQUIRED")` and  `neat_set_property(ctx, flow, "IPV6_REQUIRED")`.

This is less efficient than

[2016-05-19 11:52] bozakov commented on #81
I'm very much in favor of this change, and have two comments:
1. In Aberdeen we agreed that we need a way to specify priorities to properties (i.e., optional, mandatory).
2. I think we need key/value pairs, e.g., `tcp_required:true` in order to support more advanced properties further on (e.g. available bandwidth=50 MBps)

As I recall we also agreed to use JSON as the format to exchange the proper

[2016-05-19 13:24] oystedal commented on #81
Hi, and thank you for the comments.

1. I'll get someone to bring me up to date on this point as I was not present in Aberdeen.
2. We also agreed here that a key/value approach would be useful and possibly even required, so this is already a work in progress.

As a side note: having the policy manager, even if it's just a small prototype, is extremely useful to ensure that the code we implement he

[2016-05-19 13:44] kristrev commented on #81
I am not so much in favor of pure strings, as it will be difficult to manage, keep track of an use as the number of properties increases. For example, the strings would need to have a fixed structure (or at least should how) to make them usable and the documentation understandable for other people than those that write the code.

I propose that we we pass to set_property() is a JSON object (as a s

[2016-05-19 13:50] kristahi commented on #81
@kristrev Well, we will need to keep track of valid properties somehow in any case. And indeed, a mapping to string names for serialization to JSON that can be exchanged with the PM.

I am not very much in favour of setting properties as JSON in the C API, that will get even more messy than just using strings IMHO. Maybe I misunderstood what you meant?

[2016-05-19 14:05] kristrev commented on #81
Yes, documentation is needed, but my experience is that JSON is much easier to work with for most people than pure strings. For example, that we get the structure for free (instead of an artificial X_Y_Z rule for strings) is a huge win and will make the API easier to work with.

No properties will be set as JSON, but a valid JSON-object will be passed to and parsed by the NEAT library. This is fai

[2016-05-19 14:12] tuexen commented on #81
I agree with Kristian (kristrev ).

[2016-05-19 14:22] oystedal commented on #81
The approach we're currently working on exposes several functions for different type of values, that is, neat_property_[get|set]_[bool|int|float|string], which takes a string as parameter for the property name and and a parameter for the actual value with the appropriate C type, e.g. `neat_set_property_bool(flow, "tcp_required", 0);`

I agree with @kristahi that an application should not have to d

[2016-05-19 14:35] mangis-emc commented on #81
Why are you working on an "approach" to policy and properties? This integration topic should be discussed in a plenary meeting, or at least with most of the code/policy people involved.

IMHO a JSON file is the best way to configure a framework. A user can easily specify parameters and settings. I mean the final end user. Then this could be always translated to a bitmask or flags in the core layer

[2016-05-19 15:40] bozakov commented on #81
@oystedal I have uploaded the first version of the policy manager code to the repo. It's a bit rough but should be enough to get an idea of the policy and property logic. I'll be extending the walkthrough  documentation in the coming days. Please let me know if you have any questions about the code.

@kristrev I am in favour of using JSON as the exchange format.

[2016-05-19 15:46] mangis-emc commented on #81
Test.

Simone Mangiante | Senior Research Scientist | EMC Information Systems International
Ph. +353 21 4281761 (direct) +353 (0) 834582892 (mobile) | simone.mangiante@emc.com<mailto:simone.mangiante@emc.com>
Business Address: Ireland COE | Ovens | Co Cork | Ireland

[cid:image001.png@01CF79B1.0CCA23A0]
EMC Information Systems International
Registered in Ireland with Company Number: 461022 and Reg

[2016-05-19 16:39] naeemk commented on #81
This is a conversation we anyhow needed to have and I'm glad it's happening now as we begin to develop the NEAT logic code. @kristrev 's suggestion seem reasonable to me (to use JSON) and better compatible with PM's current code.

[2016-05-19 16:41] naeemk commented on #81
@mangis-emc : if no objection to above comment and no necessity to discuss this in plenary, I can "close" the issue.

[2016-05-19 19:30] kristrev commented on #81
Since the policy manager and the properties will be tightly coupled, I assumed you had discussed closely with EMC before starting anything (and would include Celerway at some point). I was a bit surprised that was not the case, and I agree with @mangis-emc that the properties, the API, etc. needs to be discussed in detail with the other involved parties. The plenary is the correct place to do this

[2016-05-19 21:14] naeemk commented on #81
Nothing has been started, on his first day of work, he's making a suggestion and asking for feedback as I read above and the git is the right place to do that :-).

I see your point. However, please clearly define what part of D1.2 apart than the list of properties you would like to discuss in the plenary and what parts we can work on since you want "the API" to be discussed in details in plenary

[2016-05-19 21:26] kristrev commented on #81
Properties and policies are tightly coupled and needs to be properly discussed and an overall design needs to be ready before we start writing code. This is something that needs to be done face to face, no amount of emails, chats or telcos can replace a blackboard when it comes to design. Worst-case, if properties are not done right, the policy manager will have to circumvent them and we will end

[2016-05-19 21:43] naeemk commented on #81
Sure, I have made a raw entry to https://secure.mlab.no/neatwiki/doku.php?id=oslo-june-2016-agenda.

[2016-05-19 22:11] tuexen commented on #81
Regarding fixing the HE code: I assume Karl-Johan  is going to fix it. Last time Felix/I pinged him,
he was on a paper deadline which was last Sunday. However, that deadline was extended by a week. So hopefully he can fix it next week. I would also like to add the UDP encaps stuff, but I need green buildbots for that to make sure the stuff runs on all platforms and it will increase the number of c

[2016-05-20 14:01] mangis-emc commented on #81
@naeemk thank you for the item you put in the agenda for Oslo. We could have a discussion this month before the plenary meeting, in order to be prepared and more focused there. Is the wiki the right place?

[2016-05-20 16:05] naeemk commented on #81
@mangis-emc: sounds a very good idea to me! we can sketch some ideas for the "list of properties" and the interaction of API with PM (e.g. JSON syntax), in a wiki page and discuss them among us (UiO+EMC and whoever else that might be interested) over a telco when the page is populated, all before the plenary => so to use the plenary time in a more efficient way.

[2016-05-24 15:26] oystedal opened #82 "JSON library for NEAT logic"
We eventually need to decide on a library to use for JSON in the NEAT logic. I have had a look at a few options, and my opinion is that [Jansson](https://github.com/akheron/jansson/) is the best candidate.

* It is licensed under an MIT license, which to my knowledge makes it usable in our context.
* Actively developed.
* [Well-documented API](https://jansson.readthedocs.io/en/2.7/apiref.html).
*

[2016-05-24 20:02] apetlund commented on #82
Jansson seems like a good choice to me too. I will need this for the “neatstat” code as the flow statistics needs a dynamic output format.

There’s *BSD support (check). http://portsmon.freebsd.org/portoverview.py?category=devel&portname=jansson <http://portsmon.freebsd.org/portoverview.py?category=devel&portname=jansson>
It’s installable on OSX using homebrew (check).

Cheers,
Andreas

[2016-05-24 21:10] weinrank commented on #82
@oystedal The choice lgtm!
@apetlund And netbsd is also supported! ;)

[2016-05-25 17:19] mcmanus commented on #75
@karlgrin - this is still a problem in the repo for me.. did the commit make it into the mainline?

[2016-05-25 19:37] kristahi commented on #27
I think the CLOSE event from D1.2 sect. 3.2.4 should fit the bill, right?

It's implemented on the oystedal/neat-logic branch now, as `on_close`.

[2016-05-25 20:44] tuexen commented on #27
So why not provide a pull request for adding `on_close()` to get it in the master branch?

[2016-05-25 20:45] karlgrin commented on #75
Issue #75 is still a problem; will have a look at it tomorrow afternoon.

[2016-05-26 10:08] kristahi commented on #27
We will do so ASAP, it is however part of a larger series of changes not quite ready for master yet.

If you need the feature "yesterday", I can see if I can separate it and cherry-pick it to master faster.

[2016-05-26 10:43] tuexen commented on #27
I don't need it "yesterday" but prefer small pull requests focusing a one thing...

[2016-05-26 12:27] karlgrin commented on #75
@mcmanus: think you can test HE. It still has some memory problems, but it should be possible to run some ad hoc tests if you want.

[2016-05-26 12:55] tuexen commented on #75
@karlgrin: I think there are more problems than just memory leaks:
* http://buildbot.nplab.de:28010/builders/freebsd-11-arm/builds/110/steps/shell_1/logs/stdio shows that the client doesn't work and does not terminate.
* http://buildbot.nplab.de:28010/builders/osx/builds/111/steps/shell_1/logs/stdio dies with a segmentation fault
* http://buildbot.nplab.de:28010/builders/ubuntu-16.04/builds/111/st

[2016-05-26 13:14] karlgrin commented on #75
@tuexen: You're right. My point was that it should at least not crash or hang for mcmanus.

[2016-05-26 13:16] tuexen commented on #75
@karlgrin: It crashes in http://buildbot.nplab.de:28010/builders/osx/builds/111/steps/shell_1/logs/stdio.

[2016-05-26 14:26] mcmanus commented on #75
I'm specifically having the issue described in https://github.com/NEAT-project/neat/issues/75#issuecomment-216519356 - with HE enabled the TCP flow gets canceled when the SCTP side of HE fails to connect. I'm not blocked for the security code as I can just use the SCTP_BANNED property as needed but the basic example does fail to work at all.

[2016-05-26 14:54] #81 closed

[2016-05-26 16:30] tuexen commented on #75
I'm also kind of blocked for a adding SCTP/UDP support. Since this will add further protocol candidates...

[2016-05-26 17:48] kristrev commented on #75
I vote for reverting HE and going back to the old, simple version, since the errors in the current code seems to cause errors for more or less everyone trying to do something with the code. We are also having issues testing some changes in NEAT because of HE.

[2016-05-26 18:04] tuexen commented on #75
My understanding is that Karl-Johan will fix this today or tomorrow. At least this is what he said he is planning to do. If not, he should back it out. The rule is simple: Fix it or back it out, I guess.

[2016-05-26 18:08] kristrev commented on #75
Agree, now it has been borked for so long that it either gets fixed
properly or is removed until fixed in separate branch.

On Thursday, 26 May 2016, Michael Tüxen <notifications@github.com> wrote:

[2016-05-27 06:26] karlgrin commented on #75
I am currently working to fix it. However, my time to work on this is a bit limited, so if you find that it is blocking the rest of the activities, I could continue in a separate branch.

[2016-05-27 08:01] tuexen commented on #75
@karlgrin : I think the alternatives are:

* Get it fixed today, which is really the preferred solution.
* If you can't get it fixed today, back the HE code out today, and move the HE stuff to a specific branch.

Working on the fix in a specific branch is not the way forward.
So if you think you need more time to fix HE than you have right now, it might be better to spend your time today on backin

[2016-05-27 11:39] #82 closed

[2016-05-30 08:45] karlgrin commented on #75
FYI: I think/hope the HE memory leakage has been resolved (resolved in branch karlgrin/he_bugfix). Problem remains on Mac OS X and freebsd11, however, in both cases relate to SCTP. I am currently working with Tuexen on this.

[2016-05-30 09:21] tuexen commented on #75
@karlgrin: Get your changes in the master tree. valgrind is now happy. This is already a big step forward. You can continue to work on other fixes in your branch and merge them when you have them.
On freebsd11 there might also be OS bugs involved. Need to figure that out. We should fix Mac OS X first.

[2016-05-30 14:34] karlgrin commented on #75
Think Issue #75 could be considered solved for the time being. Could we close it?

[2016-05-30 14:35] karlgrin commented on #58
Could Issue #58 be closed?

[2016-05-30 14:41] tuexen commented on #75
The remaining issue with freebsd11 looks like an issue with the SCTP stack. Will look into this and deal with it. So this issue can be closed. Will open a different issue when my guess is wrong and I find another  bug.

[2016-05-30 14:41] #75 closed

[2016-05-30 14:41] weinrank commented on #58
@karlgrin
Seems to be solved - yes! 👍

[2016-05-30 14:41] #58 closed

[2016-05-30 14:45] weinrank commented on #1
@karlgrin
Is this fixed with the recent commits?

[2016-05-30 14:45] weinrank commented on #22
@kristrev
Is this fixed?

[2016-05-30 14:47] karlgrin commented on #1
That would be my best guess at least.

[2016-05-30 15:01] #1 closed

[2016-05-30 19:26] kristrev commented on #22
No, I am lazy.

[2016-06-01 10:10] kristahi opened #84 "IPv6 test fails on NetBSD"
This may already be known to those of you working on HE, but the NetBSD buildbot went red since last afternoon.

The `client_http_get 2a02:c6a0:2071:6c1a::105 /cgi-bin/he` test is failing, looks like bind() fails on all enumerated addresses. Looks like this test was added yesterday? Don't know if it's a HE or OS config issue.

[2016-06-01 10:43] tuexen commented on #84
@weinrank Can you double check that the NetBSD buildbot has a global IPv6 address.

It looks like NetBSD can't use a link local address to talk to a global address...

[2016-06-01 10:59] weinrank commented on #84
The netbsd machine had no global ipv6 address. fixed!

[2016-06-01 10:59] #84 closed

[2016-06-03 11:54] kristahi opened #86 "Linux buildbot missing netinet/sctp.h"
The Ubuntu Linux buildbot seems to be missing the netinet/sctp.h header. Maybe it needs the libsctp-dev package?

From buildbot configure log:

    -- Looking for netinet/sctp.h
    -- Looking for netinet/sctp.h - not found

@weinrank could you please investigate this?

[2016-06-03 12:12] tuexen commented on #86
Hmm. I think we had a Linux box with the libsctp-dev  installed and another on without. We didn't want to force people to install something they don't need. Not sure if I'm wrong. However, I think we should have both...
@weinrank What do you think?

[2016-06-03 14:09] kristahi commented on #86
I think we should require that package for enabling Linux kernel SCTP, since the SCTP API is not really functional without it.

The code in master just happened to work without because it only used the standard sockets API, but we can't really do a quality implementation of the SCTP side of NEAT if we restrict ourselves to that - and I don't think it makes any sense, either.

This ties in with the

[2016-06-03 15:31] weinrank commented on #86
@kristahi fixed by adding libsctp-dev on the linux bb.

@tuexen mh... i will think about it...

[2016-06-03 15:40] tuexen commented on #86
Since the patch is very large, it is hard to get everything by going through it. What do you need from the SCTP API to implement `io_readable`?
@weinrank Maybe we as a group make a decision whether we require the `libsctp-dev` package for `neat` or not. I do understand that it simplifies a lot.
@kristrev Any opinion?

[2016-06-05 12:58] weinrank commented on #86
Mh, if i understand kristahi correctly, the `libsctp-dev` is required or at least highly recommended for SCTP on linux.

If that's the case we shouldn't require `libsctp-dev` as mandatory in general but as a requirement for SCTP support.
When the `libsctp-dev`is installed we'll offer native sctp - otherwise not.

[2016-06-05 13:33] tuexen commented on #86
Correct, for working SCTP you need `libsctp-dev`. The question is if you should require it also for people not wanting to use SCTP.
I would at least say that the features requiring `libsctp-dev` wouldn't work. Not sure about it in general. Up to now, I used the "rule" to compile what is possible to compile on each platform. HE will figure out if it works. We could also fail user requests at runtim

[2016-06-05 14:50] weinrank commented on #86
In my opinion the answer is **no**.

👍 This should be our general guideline!

[2016-06-06 08:48] kristahi commented on #86
Note that for end-users installing NEAT as a dependency, the requirement is libsctp itself (Debian package `libsctp1`). It is a dependency for `openjdk-7-jre-headless`, by the way, so anyone with a JRE installed is going to have it.

I agree that it makes no sense to require libsctp if you don't want to support kernel SCTP.

However, I think it is pointless to compile SCTP parts that work without

[2016-06-06 09:59] tuexen commented on #86
I would say that a user registering a callback requiring a notification, which is not there are compile, should get returned an error. That's all. But I don't see for plain SCTP based communication the need of notifications.
Please note that this changes when OpenSSL comes into the game. But this is handled inside OpenSSL.

One reason to compile in as much as possible us that we depend on function

[2016-06-06 11:56] kristahi commented on #86
I looked at the source code of libsctp, and we don't actually need any of the library functions - only the header file.

So I think it makes sense now to say that: libsctp-dev should be a requirement for compiling. libsctp is _not required_ at runtime. Is this okay with everyone?

This is really just a weird artefact of Linux packaging choices.

[2016-06-06 11:59] weinrank commented on #86
Let's clarify what "requirement" means:
Do you mean it should be a mandatory requirement for neat at compile/configure time or a requirement to use sctp within neat?

[2016-06-06 12:26] kristahi commented on #86
On June 6, 2016 1:59:18 PM CEST, Felix Weinrank <notifications@github.com> wrote:

I mean it should be a requirement for compiling neat with Linux kernel sctp support.

If neither netinet/sctp.h nor usrsctp.h is present (and enabled), Sctp is not compiled.
--
Hilsen Kristian

[2016-06-06 13:18] tuexen commented on #86
I'm not a linux expert, but once we want to support multihoming on the local side, don't we want to use `sctp_bindx()`? Where is that defined on Linux? I was assuming that it is in the library? What about `sctp_get[lp]addrs()` and `sctp_free[lp]addrs()`? Are they defined in libc?

[2016-06-06 18:52] kristahi commented on #86
You're right, these are in libsctp and not libc. Hadn't looked at those features yet to be honest.

We could still make it optional to have libsctp at runtime, should be possible to do an implementation with multistreaming and notifications etc without requiring it.

Any objections to requiring one of either netinet/sctp.h (i.e. libsctp-dev) or usrsctp.h to be present at compile time for including

[2016-06-06 19:29] tuexen commented on #86
On a system with an SCTP implementation in the kernel, you can really use a userland stack. On Linux, it is fine until the kernel module is loaded. Then you could only do native SCTP in the kernel and UDP encapsulation in userland. Also, this works only as long as Linux does not provide UDP encaps with the kernel implementation.But this mixed implementation (coexistence of a userland and kernellan

[2016-06-06 19:41] kristahi commented on #86
On June 6, 2016 9:29:27 PM CEST, "Michael Tüxen" <notifications@github.com> wrote:

Agreed re: no mixing of stacks.

I worded myself in negatives, I just meant that if usrsctp is not chosen, then we require the netinet/sctp.h header to be present when compiling sctp support. Otherwise, the binary will have no sctp capability, regardless of what is available at runtime.
--
Hilsen Kristian

[2016-06-06 20:00] tuexen commented on #86
OK. no mixtures. That is great.
I think the support for usrsctp is now an explicit choice when running cmake. The detection of the availability of netinet/sctp.h is automatic. Do you want to change that?
If neither usrsctp support is compiled in, nor netinet/sctp.h is available at compile time, you could still do basic SCTP communication, can't you? Just compile what you can compile and you should

[2016-06-07 10:49] kristahi commented on #86
I wanted to change the reaction to not detecting it, by not compiling in any SCTP bits.

Yes, that is possible. Made some adjustments to the PR now so this happens without causing any hangs.

[2016-06-07 10:54] tuexen commented on #86
OK. I think this improves the code... So can we stick to the "compile as much as possible" principle for now?

[2016-06-07 11:00] kristahi commented on #86
Guess we will :)

[2016-06-07 11:00] #86 closed

[2016-06-07 12:00] kristahi opened #87 "Fix SCTP-only callbacks"
As previously mentioned in #85 and the associated docs, currently some callbacks (NETWORK_STATUS_CHANGE, ABORT) only work properly for SCTP.

This is in part because the TCP API isn't as rich as the SCTP API, but there are still ways to make these work, at least to some extent.

Requires checking for error status when sockets become readable/writable.

[2016-06-07 14:30] kristahi opened #89 "Handling optional arguments in the API"
Some of our public API primitives take a large number of optional arguments, e.g. WRITE (6 optional args) and INIT_FLOW (9 optional args!). Therefore, we should decide on some suitable way to handle passing those in.

Specifying all arguments and requiring users to always set them to NULL / zero, etc. doesn't appeal so much to me due to the large number of arguments we are talking about here. The

[2016-06-07 14:41] tuexen commented on #89
A suggestion: A TLV based block of memory?

[2016-06-07 18:47] kristahi commented on #89
Sounds like a reasonable way of doing it to me. Should be possible to write some macros to make it easy for programmers to add them, too, I think.

[2016-06-07 19:01] evyncke commented on #89
While I agree that this is better to pass a complex/structured object rather than 5+ arguments, TLV looks so ASN.1 BER to me...

While perhaps less efficient, JSON sounds more attractive than TLV.

[2016-06-08 10:04] #27 closed

[2016-06-08 10:10] kristahi commented on #27
`on_close` is now available in master.

[2016-06-08 10:40] weinrank commented on #27
Great, i will implement it in the samples and test it.

[2016-06-08 15:05] oystedal commented on #89
I'm personally not in favor of any approach that circumvents the little static checking there is in C.

One approach used in some APIs is to use a pointer to a struct for optional arguments. The struct is allocated and memset with 0's to indicate default values. Alternatively we could have a function initialize the struct with the default values. If no optional arguments are required, one may simp

[2016-06-08 18:14] tuexen commented on #89
I think we will need to provide different structs. We can go than route, but need an additional argument indicating which struct is provided. Something like `setsockopt()`/`getsockopt()`.

[2016-06-08 19:06] oystedal commented on #89
I'm not sure why we would need to have more than one struct type passed to each function. My suggestion is to have one struct for each function, such as e.g. `struct neat_open_options` as the last argument to `neat_open`. This struct can of course contain pointers to other structs in addition to values. Example usage would be as follows:

[code]

On a different note, how does these options differ

[2016-06-15 13:17] apetlund opened #91 "Segfault on connect when running examples/server_echo (Linux)"
When running server_echo with no options and connecting with client (./client localhost 8080) I get a segfault. The last function with a debug printout is neat_set_operations.

Debug tracve
./server_echo
[...]
[7.126746][DBG] uvpollable_cb
[7.126774][DBG] do_accept
[7.126781][DBG] neat_new_flow
[7.126789][DBG] neat_accept_via_kernel
[7.126810][DBG] io_connected
[7.126817][INF] Connected: TCP/IPv4

[2016-06-15 14:19] oystedal commented on #91
I'm not sure if connecting to `localhost` is supported. For me, when running the two programs as specified above, no connection is made to the server, and the client log contains:
[code]

Connecting with 127.0.0.1 works as expected.

Further information such as what system/kernel you are testing on would be helpful. I also suggest running the server using `valgrind` to track down the segfault. Pos

[2016-06-15 14:32] apetlund commented on #91
Ok. It used to work until one of the last commits to the master branch.

I’ll use 127.0.0.1 for my testing in the meantime. You decide whether this is bug or feature :)

-Andreas

[2016-06-15 15:37] weinrank commented on #91
I tried to reproduce the issue but for me it works fine.
Tested with Ubuntu 16.04 and latest master revision b6e436e

I attached my cmake,build,echo_server and client logfiles.

[build.txt](https://github.com/NEAT-project/neat/files/316495/build.txt)
[client.txt](https://github.com/NEAT-project/neat/files/316493/client.txt)
[cmake.txt](https://github.com/NEAT-project/neat/files/316494/cmake.txt)
[

[2016-06-15 15:41] apetlund commented on #91
I got home and tested it on another workstation and here it worked fine. I'll try to descipher the difference between my two environments myself. Closing the issue.

[2016-06-15 15:41] #91 closed

[2016-06-16 12:40] apetlund commented on #91
After cleaning up all object files in the build folders, the problem went away. Seems there may have been some error in the Make setup when switching between branches. I'm ignoring it for now.

[2016-06-16 16:30] oystedal opened #94 "Suggested coding style"
I have created a suggestion for a coding style for the project, something which has been previously requested.

[Here is a set of slides presenting the suggested code style.](https://docs.google.com/presentation/d/10yYbafjmgp4kUlExhE6zjUXOWsfR2wP3198r3_eOOE8/edit?usp=sharing)

I suggest we keep the discussion here on GitHub.

The majority of the style is based on the code that is already present.

[2016-06-20 20:13] kristahi commented on #89
Would be good if we could reach concensus here.

IMHO I think JSON is the least desirable option. It just doesn't make good sense to me to use a parsed string format to pass arguments in a C API. This requires users of the library to construct strings, and we have to parse it, potentially for each and every read/write call. You also forgo any help you'd get from the compiler in type checking, etc.

[2016-06-20 20:17] kristahi opened #96 "Policy Manager outputs invalid JSON"
It appears proper, standards-compliant JSON cannot encode NaN values. These are used rather a lot by the PM, and end up in the resulting JSON for interfacing with NEAT Logic.

The libjansson library we use for parsing JSON in C doesn't give any options to pretend NaN are OK, so we must work around this issue somehow.
I patched neatpmd.py as so:
`    api_writer(candidates_json.replace('NaN', '"NaN"

[2016-06-21 07:38] evyncke commented on #96
What about replacing 'NaN' by a simple 'null' ?

From: "Kristian A. Hiorth" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NEAT-project/neat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday 20 June 2016 at 22:18
To: NEAT-project/neat <neat@noreply.github.com<mailto:neat@noreply.github.com>>
Subject: [NEAT-project/neat] Policy Manager outputs invalid JSON

[2016-06-21 07:43] oystedal commented on #96
I think we should distinguish between an invalid (NaN) and a missing (null) value.

[2016-06-21 08:13] kristrev commented on #96
Why even bother including invalid or missing values? What is the advantage of exporting them from the PM? Invalid sounds like it should be considered an error in the PM, while missing can be infered from key missing.

[2016-06-21 08:32] oystedal commented on #89
I think a set of TLVs is the way to go.

[2016-06-21 10:02] kristahi commented on #96
AFAIK the NaN values are used to indicate properties the PM couldn't generate a meaningful score for.

Possible solutions could be to put a string or boolean (i.e., value of `false`) there instead in those cases, or introducing another key (`scored: bool` or something).

Ideas @bozakov @mangis-emc ?

[2016-06-21 10:37] bozakov commented on #96
The motivation for the missing values is exactly as @kristahi pointed out. Any attribute which the PM didn't have enough information to act upon will not have an assigned score after the PM lookup. This differentiation is important for properties such as, `TLS_required`, which **must** be enforced by the NEAT logic - even in cases where the PM doesn't yet know wether the remote endpoint supports T

[2016-06-21 11:31] oystedal commented on #89
I have written a suggestion for an implementation for optional arguments using TLVs: https://gist.github.com/oystedal/e8870788690e634df92ec4554a846d2e

It's not a true TLV, in the sense that this implementation in reality just stores pointers to values that are present on the stack. If this approach is deemed acceptable, I plan on changing the `length` member of `struct tlv` to an enum value inste

[2016-06-21 12:53] bozakov commented on #89
Wouldn't JSON be easier for application developers, whose life we're trying to make easier with NEAT? Also my expectation was that in the future there may be other implementations of NEAT (Java, Python, etc.) so is a traditional C style API the right way to go for NEAT?

[2016-06-21 12:58] kristahi commented on #89
Is it really easier to (programatically) construct JSON strings in C?

I imagine that fitting the API to the appropriate style for those other languages would be accomplished when writing the bindings for those languages. E.g., for Python you'd probably just use the standard optional keyword arguments.

[2016-06-21 13:06] kristahi commented on #87
Finally have had some time to continue working on this.

Catching resets in TCP now (see b6992d2). The question now comes up: is it appropriate to trigger the `on_error` callback too?
That callback isn't defined in D1.2, and I'm a bit unsure what it really means - is it only meant for fatal errors?

[2016-06-21 14:01] weinrank commented on #94
The sooner the better!

If you provide the crustify config file in the repo, i will add a buildbot step for it.

[2016-06-21 14:35] mangis-emc commented on #89
This discussion should be addressed in Oslo next week, not inside a github issue, as we agreed on #81 . We will try our best to setup a productive policy/JSON/API session.

[2016-06-21 14:55] oystedal commented on #89
In my mind this was/is a different issue than #81. But yes, I think it is a reasonable thing to discuss during the plenary in either case.

[2016-06-22 16:20] kristrev opened #101 "resolv.conf might not be populated on startup"
We read resolv.conf when resolver is initialised and file is updated, but we have no guarantee that there are any DNS servers available when the request for resolving a domain is made. For example, NEWADDR might happen before resolver file is written to. As of now, we will use one of the public servers and the request will time out if for example they are blocked. However, it would make sense to a

[2016-06-23 14:12] #87 closed

[2016-06-28 08:50] bagder opened #103 "minor name space leakage"
Global symbols in the library should be kept within the neat name space (prefixed with `neat_` ). Right now (`v2.0-463-gd74be90`) there are a few symbols not adhering to that:

[code]

[2016-06-29 14:46] kristrev opened #107 "Rework resolver and add request callback"
The resolver currently does not support multiple flows or multiple requests. For example, one instance of the resolver is tied to one callback and one request. This does not work, what we need to is to implement a request queue and then process one request after the other. The function the application/libneat calls will be something like:

[code]

This function will initialize the resolver (if not

[2016-06-29 14:48] kristrev commented on #107
Considering supporting multiple flows depends on reworking the resolver, I will try to look at this next week.

[2016-06-29 15:23] oystedal opened #108 "Multiple flows within one NEAT context"
Ensure that the implementation is able to support multiple flows in the same NEAT context, e.g. that a server is able to handle multiple concurrent clients. This includes being able to support concurrent execution of `neat_open` against itself and against `neat_accept`.

[2016-06-29 15:24] adventureloop commented on #107
Just so our discussion is captured:

- Resolver creation will be moved into `neat_init_ctx`
- Requests will only go through the `neat_resolve` call.
- The resolver will endevour to use resources in the most sensible way, resolver will be cleaned up in `neat_free_ctx`

The memory leaking is going to continue until we can refactor all allocations into calls in this style.

[2016-06-29 15:55] kristrev commented on #108
Tom, Felix and me had some discussions about how to make this work during the day. We have some ideas, all starting with reworking the resolver.

[2016-06-29 16:20] adventureloop opened #109 "Allocation of buffers is clumsy"
Right now it is quite clumsy to allocated the message send buffer, it needs to know the number of flows. This will makes it hard to to map to a single alloc single free model for resources.

 `allocate_send_buffers(flow);`

I suggest adding a new call to allow reallocation of stream buffers and allocating a default of 1 stream for each flow in `neat_new_flow`

    neat_flow *neat_new_flow(neat_ctx

[2016-06-29 16:21] NTag opened #110 "PvD integration into Policy Manager"
# Report of breakout session about Policy Manager in Oslo
### About PvD

A Provisioning Domain (PvD) is all the information you can attach to a source address (like the throughput, the accessible prefixes, the address of the DNS server...). One way of getting it (which is implemented in NEAT) is by using DNS ([draft-stenberg-mif-mpvd-dns-00](https://tools.ietf.org/html/draft-stenberg-mif-mpvd-dns-

[2016-06-29 16:23] oystedal commented on #109
I have no objections to this. Feel free to assign it to me unless you feel like doing it yourself :)

[2016-06-29 16:58] evyncke commented on #110
thanks

From: Basile Bruneau <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NEAT-project/neat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday 29 June 2016 at 18:21
To: NEAT-project/neat <neat@noreply.github.com<mailto:neat@noreply.github.com>>
Subject: [NEAT-project/neat] Policy Manager design (#110)

Report of breakout session about Policy Manager in

[2016-06-30 07:08] adventureloop commented on #109
@oystedal I won't get to it until next week, feel free to drop me off the ticket if you start the work.

[2016-06-30 07:48] #96 closed

[2016-06-30 08:16] bozakov opened #111 "IPC options for PM interface"
We need to converge on a mechanism for interfacing the policy manager, i.e., to transfer JSON encoded application requests and the candidate list from/to the NEAT logic. A first list of possible options:

+ TCP sockets
+ Unix Domain Sockets
+ POSIX IPC
+ POSIX shared memory
+ netlink
+ zeromq

Are there any preferences?

[2016-06-30 08:20] oystedal commented on #111
I think a UNIX socket is the best option.

[2016-06-30 08:33] karlgrin commented on #111
I would definitely rule out the four lower-most alternatives, and since we probably do not envision PM to run on a separate machine, I would also opt for UNIX sockets.

[2016-07-01 09:11] bozakov commented on #111
I agree with the UNIX sockets option. If there are no objections, I'll close the issue.

[2016-07-01 09:20] mcmanus commented on #111
I have no objection.. fwiw for those considering Windows support they would
need an alternative.. going w local host tcp would avoid that
On Jul 1, 2016 11:11 AM, "Zdravko Bozakov" <notifications@github.com> wrote:

[2016-07-01 09:55] bozakov commented on #111
Good point about Windows. I guess the two options are similar enough to easily handle this in a windows port ..(btw. is any one currently working on/testing this?)

[2016-07-01 11:41] #111 closed

[2016-07-04 13:14] kristrev commented on #107
After going through the code, I see that resolver itself never requires the flow. Instead of storing a flow in the neat_resolver_request, it would make more sense to have a void pointer. I think I also want to keep the domain name/service in this struct, so that we can keep this decoupling and for example PVD does not need to fake a flow.

[2016-07-04 15:18] adventureloop opened #114 "Happy Eyeballs between sctp and tcp doesn't work"
There seems to be an issue on our network currently at abdn. SCTP/IPv6 works, but SCTP/IPv4 does not. NEAT HE incorrectly selects SCTP/IPv4 as transport, this leads to a broken connection.

Reproduce:

    examples/client_http_get -u /sample-1.html bsd10.nplab.de

On a network that does not have working SCTP/IPv4.

Output of neat debug log and tcpdump attached.
[dump.txt](https://github.com/NEAT-p

[2016-07-04 15:41] kristrev commented on #107
Another thing that will probably be changed is that resolver will return much less information. Initial goal was that it should work similar to getaddrinfo() and return one struct per protocol-combination. This does not make sense, HE can create this already. DNS should only be concerned address family. Port can be stored in for example flow (which can be stored in the data pointer of structure).

[2016-07-04 15:54] kristrev commented on #107
I am also considering storing all handles, pairs, etc. in the neat_resolver_request struct. After scratching my head a bit, I can't find any big reason not to. They are all "private" to one DNS lookup. The only thing that might speak against it, at least in my opinion, is that spacing requests out in time might be trickier. However, I think the advantages outweighs this. For example, we can have t

[2016-07-05 13:38] #109 closed

[2016-07-06 11:06] tuexen opened #118 "Buildbots will go down on Monday, July 11th."
Dear all,

the buidbot system for neat will go down next Monday (July, 11th), since our lab will be moved to a different location. So the machines (and network infrastructure) has the to be shutdown.
We try to keep the downtime short (hopefully only a day), but we can't make any promise.
I'll clear this issue, once the migration is complete.

Best regards
Michael

[2016-07-06 12:24] adventureloop opened #119 "Debug Time becomes negative"
Walked away from a run of `client` for around 20 minutes, further debug message times were negative

    [1779.876812][DBG] updatePollHandle
    do I still work?
    tty_read - tty_read called with buffer_filled 17
    [-1117.567237][DBG] neat_set_operations

[time.txt](https://github.com/NEAT-project/neat/files/349725/time.txt)

[2016-07-07 14:35] kristrev commented on #107
Done.

[2016-07-07 14:35] #107 closed

[2016-07-07 14:50] #89 closed

[2016-07-11 17:48] tuexen commented on #118
Te IPv4 stuff is up and running again except for the Mac OS X buildbot. Should be up again tomorrow.

[2016-07-11 22:13] weinrank commented on #118
Except the FreeBSD ARM buildbot everything is up and running again...

[2016-07-12 15:08] NTag commented on #118
There are still some problems, aren't there? http://buildbot.nplab.de:28010/waterfall?branch=master

[2016-07-12 15:28] weinrank commented on #118
![img_3907](https://cloud.githubusercontent.com/assets/6726222/16772862/0aa57996-4856-11e6-8f22-69506503dc6c.jpg)

Guess what's missing here... 😄

[2016-07-12 15:32] weinrank commented on #118
![img_3908](https://cloud.githubusercontent.com/assets/6726222/16773021/a4984e48-4856-11e6-8caf-37c147e32e74.jpg)

Up and running! :)

[2016-07-27 10:18] adventureloop opened #125 "Requesting UDP leaves application in infinite loop"
run

    ./server_echo -P NEAT_PROPTERY_UDP_REQUIRED

enjoy the output

[2016-07-27 10:19] adventureloop commented on #125
Marked as help wanted, the he code is rather hairy and it might take me a while to track this down. I think I know where the loop is coming in, but I haven't seen it anywhere else.

[2016-07-27 10:20] oystedal commented on #125
I may have worked around this in #124, `./server_echo` works fine there, even with UDP. Give it a shot.

[2016-07-27 10:20] adventureloop commented on #125
Some debug tracing shows he is requesting creating a socket with AF: 2 Type: 1 Proto: 17.

[2016-07-27 10:45] oystedal commented on #125
Did it work as expected in #124?

[2016-07-27 10:52] adventureloop commented on #125
@oystedal I don't get dropped into a loop, but I can't create a UDP Connection.

[udpconnect.txt](https://github.com/NEAT-project/neat/files/385865/udpconnect.txt)

[2016-07-27 11:02] adventureloop commented on #125
Connect fails on #124 aswell

[2016-07-27 11:06] oystedal commented on #125
Just tested myself, same result as you when trying to connect with `./examples/client -P "NEAT_PROPERTY_UDP_REQUIRED" ...`

I'm taking a long shot, but these lines in `neat_he.c` might be to blame:

[code]

[2016-07-27 11:09] adventureloop commented on #125
Ah, adding the missing `break;` seems to resolve this.

[2016-07-27 11:22] oystedal commented on #125
Adding the `break;` resolves the error, but I'm still not able to communicate between `./client` and `./server_echo` over UDP. I don't see those packets in wireshark either. `socat` -> `server_echo` works.

If using both `./client` and `./server_echo` over UDP works for you, then I suppose we can close this issue. Feel free to commit the missing break(s).

[2016-07-27 11:36] adventureloop commented on #125
I ran `nc -lu 127.0.0.1 6969` and recv a messaged typed into `client`. I can respond with nc and see the message in the client output.

Using `server_echo` is not quite as good. `tcpdump` can see the client sending and the server echoing, but the client never prints the recv'd message. `server_echo` is getting errors and crashing.

I was working on test for udp when I found this regression. I will

[2016-07-27 11:36] #125 closed

[2016-08-03 06:33] karlgrin commented on #114
@adventureloop some clarifications:
When you say that ipv4 is not working, what do you mean? Is it not configured with an ipv4 address or is it configured with an invalid ipv4 address? I find it strange that HE selects ipv4 since that implies a successful connection attempt and your log suggests otherwise.
PS. Will look into it as soon as I obtain ipv6. DS.

[2016-08-03 08:03] tuexen commented on #114
@adventureloop
Are you running FreeBSD 10.x or stable/10? There was a FreeBSD bug which resulted in all SCTP connections attempts (IPv4 or IPv6) to be reported successful. Therefore the HE will (correctly) choose the first SCTP candidate. From the dumpfile I see that IPv4 is tried first, so it will be chosen.
I fixed the bug in https://svnweb.freebsd.org/changeset/base/301000.
@karlgrin
This doesn

[2016-08-03 09:43] karlgrin commented on #114
@tuexen thanks for your insight. Then we should close this issue and create a new one that specifically targets the case with successful connection setup but unusable connection.
@adventureloop I put this issue on hold until we are clear that this is indeed a HE issue.

[2016-08-03 11:10] tuexen commented on #114
@karlgrin
I agree, once we get a confirmation of my assumption, we should close this issue. How to deal with unusable connections is a different issue, it is not clear to me how to handle that (it might depend on the upper layer, using (D)TLS might help here). We can track that in an issue or consider it a research question. What do you think?

[2016-08-03 12:02] adventureloop commented on #114
@tuexen Not 10 stable, but a current build from before your patches.

I will close this issue. I have seen other issues with HE choices, but I need to figure out a minimal example case.

[2016-08-03 12:02] #114 closed

[2016-08-03 12:25] karlgrin commented on #114
@tuexen I think we could issue it as a new issue and thus keep it in mind.

[2016-08-03 14:05] tuexen opened #126 "Improve Happy Eyeballs"
Currently HE only takes into account whether the connection/association setup is successful, but not if the actual connection works. This happens, for example, with HTTP/TCP/IPv4 and HTTP/TCP/IPv6 due to MTU issues. NEAT should track this and, if possible, take this into account.

[2016-08-03 14:08] tuexen commented on #114
@karlgrin Done: [Issue 126](https://github.com/NEAT-project/neat/issues/126)
@adventureloop Let me know if you find any issues with a current version including that patch.

[2016-08-08 09:57] bagder opened #127 ""make install" in custom path fails"
# I do

    $ mkdir build
    $ cd build
    $ cmake -DCMAKE_INSTALL_PREFIX:PATH=/home/daniel/build-neat ..
    $ make
    $ make install

This of course as I want to install my custom build in a custom directory, and not in a system-wide one. But this is what happens, the last lines of the `make install`:

[code]

# I expected

... that command setup to install neat everything into the specified

[2016-08-08 11:45] oystedal opened #128 "Test cases for listening"
Test listening, accepting and receiving on multiple sockets.

[2016-08-08 12:14] #127 closed

[2016-08-08 12:43] bagder commented on #127
thanks!

[2016-08-08 17:37] oystedal commented on #128
@weinrank: Can you have a look at the test for server_echo in https://github.com/NEAT-project/neat/tree/oystedal/listen_test/tests? `test_echo.c` implements the actual test, while `run_echo_test.sh` demonstrates how it could be called by the buildbot. You don't have to use this file directly, it is probably safer to make a copy of it.

The purpose is not really to test `server_echo`, but to test N

[2016-08-09 09:04] weinrank commented on #128
Hey Øystein,

this looks good to me - I'm happy about every test i can add to the BB system and testing the server side was on my agenda too. 👍

Im currently playing around with your code to automize the test(s) including valgrind support...

[2016-08-09 14:19] oystedal commented on #108
Is there anything else blocking this issue?

The resolver has been reworked, and we support multiple incoming connections. The only thing I don't think has been tested is a client with multiple flows, but I don't think this should be an issue.

I vote for closing this. Anyone else?

[2016-08-09 15:19] #108 closed

[2016-08-10 13:44] oystedal opened #131 "Incorrect output from PM"
On branch oystedal/pm_interface, commit 84ff47

Executing `./examples/client_json 192.168.1.14 8080` and `python neatpmd.py` in different terminals.

JSON data sent from NEAT logic:

[code]

Reply from PM:

[code]

+4 more candidates, same issues.
- interface property is set to a non-exsistent interface (on my machine)
- local_ip address doesn't match any interface (on my machine)

I also noticed

[2016-08-12 13:17] oystedal opened #133 "Option to not use libuv for applications that manage their own event loops"
RE: discussion on mailing list.

There should be a compile-time option to not use libuv inside NEAT, and instead let the application manage the event loop themselves. For this to work, NEAT must expose the socket fds to the user application and provide functions to handle incoming events on the socket once the socket becomes [read|writ]able.

Should be considered in the long term, since this chang

[2016-08-16 07:55] bagder opened #134 "NEAT_RUN_ONCE and early cleanup causes endless loop"
First, adjust `client_https_get.c` with this little patch:

[code]

The rebuild and run `./client_https_get tiles.services.mozilla.com`. This is the output from my linux machine (the 100 first lines of the output):

[code]

[2016-08-16 11:12] oystedal commented on #134
My fault, sorry about that.

So the issue itself is not too complicated to fix. However it produces some strange results when closing connections from clients on the server, so I'm not yet able to merge this to master before I have worked that out.

For a temporary solution, since you're only using NEAT as a client, see https://github.com/NEAT-project/neat/commit/c3b1186f3dd3dc560cea5c86e310987958

[2016-08-16 12:13] bagder commented on #134
No worries, just wanted to file this to make sure we fix it. I'm actually chasing another problem and only fell over this accidentally. It's not a show-stopper for me.

[2016-08-16 16:54] #134 closed

[2016-08-16 17:03] oystedal commented on #128
@weinrank: Any progress on this?

[2016-08-16 17:29] tuexen commented on #128
@oystedal: weinrank is on vacation this week.

[2016-08-18 13:41] bagder opened #135 "bad assert() in he_resolve_cb()"
The `assert(results->lh_first)` in the function `he_resolve_cb`on [line 121 in neat_he.c](https://github.com/NEAT-project/neat/blob/master/neat_he.c#L121) triggers in a test of mine.

That callback is occasionally called from `neat_resolver_timeout_shared` on [line 322 in neat_resolver.c](https://github.com/NEAT-project/neat/blob/master/neat_resolver.c#L322) with a NULL pointer in the first argume

[2016-08-18 14:50] karlgrin commented on #135
I don't think it is the asserts that are the culprits. Instead, it seems
to me that there should be 'returns' following lines 114 and 116.
Since we are curently reworking HE in NEAT, the 'he_resolve_cb' function
will soon be replaced (see branch 'oystedal/pm_interface')
so this issue should hopefully be resolved once this work is concluded.

Daniel Stenberg wrote:

[2016-08-18 16:43] bagder commented on #135
Yeah, I've not checked the logic around this close enough to say what the culprit is or what change I would suggest. I just get stuck on that assert() in my tests and that assert() looks wrong so I wanted to file it here.

[2016-08-19 12:02] oystedal commented on #135
I remember this issue now. If you run NEAT using valgrind or similar, the existing DNS timeout is not sufficient. Temporarily increasing the timeouts at https://github.com/NEAT-project/neat/blob/master/neat_resolver.h#L15 may possibly resolve this issue. We could do this permanently for DEBUG builds.

In general, I would say that most asserts in the NEAT code are for development only, and should e

[2016-08-19 12:15] bagder commented on #135
I'm single-stepping code with gdb so yes, basically any timeouts will be too short =)

[2016-08-21 23:26] weinrank commented on #128
@oystedal Hey, sorry for the delay.

I made a separate branch to play with your code and made some changes - not perfect but a first step:

https://github.com/NEAT-project/neat/tree/weinrank/listen_test/tests

## test_echo
* test script(s) is/are copied to the build directory.
This is done by cmake, but only(!) when running cmake in a clean build directory for the first time and not when there is

[2016-08-22 07:04] oystedal commented on #128
Sounds good to me.

I think it might be good to split the tests a little, e.g. one test suite execution without valgrind followed by the same test suite executed with valgrind, as separate buildbot steps. This makes it easy to identify whether the issue is related to functionality or just a memory error. I think this should be easy to manage if all tests support adding a prefix like you've done.

[2016-08-22 08:24] weinrank commented on #128
Yes, splitting it into steps for "regular" tests and valgrind is the plan.

We still have these concerns and we'll put the buidlslaves in a private network.

[2016-08-22 19:35] oystedal opened #138 "Policy Manager execution during tests"
The code on the oystedal/pm_interface branch is materializing, and at some point it will be necessary to run the policy manager as part of some test.

Some useful information:
- The policy manager requires at least Python 3.0, if not higher (do you know exactly, @bozakov?)
- NEAT will by default look for a UNIX socket in `$HOME/.neat/neat_pm_socket`.
- This path can be overridden by defining the e

[2016-08-22 20:59] weinrank opened #140 "master branch compile failure"
Hey all,

the master branch doesn't compile on some conditions, see buildbots.
This is related to the PR #137 by Daniel.

`set_primary_dest_resolve_cb` should now return an error code.
There are SCTP/USRSCTP related codepaths in this function where only `return` is called, e.g. [here](https://github.com/NEAT-project/neat/blob/master/neat_core.c#L1547)

This is why the buildbots complain.
I have an

[2016-08-22 21:03] bagder commented on #140
Ah, time to add a travis job or something that run on pull-requests so things like this are caught earlier. I obviously don't build this code path locally so I didn't see this. PR coming up with a fix shortly!

[2016-08-22 21:07] weinrank commented on #140
Travis? We have buildbots! 😎 😄
They start 30s after you commited something to *any* branch.

http://buildbot.nplab.de:28010/waterfall
You can filter by branch like this
http://buildbot.nplab.de:28010/waterfall?branch=your_branch_name

Have a look at my PR, is it fine for you?
https://github.com/NEAT-project/neat/pull/139

[2016-08-22 21:09] bagder commented on #140
Can the buildbots feedback on pull-requests when they cause build failures? That's the feature I'm talking about. Then a PR that causes a build-break wouldn't get merged in the first place. But I'll make sure to watch the buildbots from now on!

[2016-08-22 21:29] weinrank commented on #140
Yeah, i already tried to use the Github-API but it's a bit more tricky than i thought initially... it's on my agenda! ;)

[2016-08-22 21:35] weinrank commented on #138
Python 3.5 is installed on Ubuntu and all FreeBSD buildslaves.

[2016-08-22 21:53] tuexen commented on #140
By looking at the kernel code:
* Why is the SCTP_ASSOCINFO getsockopt() call made? The assoc_id is ignored for 1-to-1 style sockets, which we are using in NEAT.
* Why is the code #ifdef'ed for Linux? It should also run on FreeBSD. and even on all platforms supporting kernel SCTP.

[2016-08-22 21:54] bagder opened #141 "Prefix for private global symbols"
(Possibly related to coding style, issue #94)

I propose we use a dedicated and identifiable prefix for functions/symbols that are globally accessible within the library but _aren't_ in the public API. Right now, they're all prefixed with `neat_`. Having this fact notable is helpful as the public API must remain stable etc while the internal can be changed much easier.

I propose we use `neat__` (

[2016-08-22 21:55] bagder commented on #140
I figure the code should rather be #ifdef'ed on something that was checked by the cmake script...

[2016-08-22 22:01] tuexen commented on #140
You can either use HAVE_NETINET_SCTP_H, which is checked by the cmake script and assume that all SCTP implementations support SCTP_PRIMARY_ADDR, which is true as far as I know, or you could check, if SCTP_PRIMARY_ADDR is defined.
But get rid of the SCTP_ASSOCINFO code, which is wrong there, and don't restrict the code to Linux.

[2016-08-23 08:44] bagder opened #143 "double free in neat_free_ctx()"
1. In the `neat_init_ctx`  function, the `nc` variable is assigned the return code from `malloc`.
2. `neat_bsd_init_ctx`  gets called with `nc` as the argument, and in case it returns error...
3. `free(nc)` is called
4. ... but in the `neat_bsd_init_ctx` function, the input argument is already freed because it calls `neat_free_ctx` on errors that in turn calls `free()` on it!

I propose we free da

[2016-08-23 08:53] bagder commented on #143
Hm, `neat_usrsctp_init_ctx` however does almost the same thing. It frees the input argument. The parent function `neat_init_ctx` doesn't even get the return code and then it'll crash and burn horribly when it reuses the `nc` pointer that now points to freed memory. (Based on code review, I have not built the SCTP using code path myself.)

[2016-08-26 15:29] oystedal commented on #140
The use of `SCTP_ASSOCINFO` in this case is (yet again) my fault. I'm not sure why I restricted it to Linux in the first place, but if it looks correct, I'll remove it.

The buildbots agree on #139 and nobody has objected to it, so I'll merge that one and then fix this function.

[2016-08-26 15:59] #140 closed

[2016-08-30 09:25] bagder opened #144 "Negative delta times in the log function"
I see this happen repeatedly. The call to `neat_log_init` from `neat_init_ctx` resets the time stamp to which subsequent log entries are calculated against but that first function call makes a log entry itself and that ends up with a negative value:

`[  -1.1000000][INF] neat_log_init - NEAT_LOG_LEVEL : default`

It appears as if the intent is that it should rather output a zero time there.

I pre

[2016-08-30 09:30] weinrank commented on #144
I will check this.

[2016-08-30 12:11] #135 closed

[2016-08-30 15:44] weinrank commented on #144
See #146

The problem was an incorrect calculation:
If both `timevals` have the same `tv_usec`, the calculation was wrong.

[2016-08-30 15:45] #144 closed

[2016-09-08 23:14] weinrank opened #148 "Buildbot downtime Fri-Sat"
Hey all,
due to maintenance work at our campus, the buildbot servers will be offline from friday (today) till saturday (tomorrow).

[2016-09-12 00:06] #148 closed

[2016-09-20 12:46] irl commented on #101
It's worth noting that on some systems, resolv.conf may not even be a real file and may be a symlink to either a file provided by systemd-resolvd or network-manager. No guarantees are made that resolv.conf exists, this file is placed there as a courtesy to legacy applications.

[2016-09-20 15:44] irl opened #154 "The shared library does not have a versioned soname"
The shared library is built and installed in a public library directory but has an SONAME that does not contain any versioning information, either after the .so or before it and set off by a hyphen. It cannot therefore be represented in the Debian shlibs system (and in the package management systems of other distributions), and if linked by binaries its interface cannot safely change. There is no

[2016-09-20 15:55] irl commented on #101
On systems using systemd-resolvd:

This approach to collecting addresses of nameservers will fail on these platforms. (Debian stretch, coming up for release in the next year, is amongst these platforms.)

[2016-09-21 08:09] adventureloop opened #156 "Applications are unable to set checksum coverage level for UDP-Lite"

[2016-09-21 08:22] oystedal commented on #156
;)

[2016-09-21 15:14] weinrank opened #157 "Buildbot refactoring"
Due to BB refactoring expected false positives and malfunctions..

[2016-09-22 08:52] oystedal commented on #157
The buildbot is down atm, is this intended or not?

[2016-09-22 08:57] weinrank commented on #157
Still working on the issues, should be done before lunch...

[2016-09-22 10:17] #157 closed

[2016-09-22 15:55] oystedal opened #160 "SCTP data is sent, but not received in the remote application"
Applies to the `oystedal/he` branch.

The new HE code is largely ready to be merged. However, there is still one major issue which prevents this.

On the BSD machines, communicating over SCTP seemingly fails. The handshake succeeds, and according to the wireshark, DATA chunks are sent and SACK'ed as expected. However, the data appears to never be delivered to the application layer.

This can be ob

[2016-09-22 17:14] tuexen commented on #160
Should be fixed now. The flow was using explicit eor mode but the code didn't know. Therefore the DATA chunk was not a complete message, but only the beginning. Therefore it was not processed by the server. Works now.

[2016-09-26 08:47] #160 closed

[2016-10-04 15:40] oystedal commented on #156
@adventureloop: Is https://github.com/NEAT-project/neat/commit/90dcd7be0919eef176edcdf77ce9d8ef78d4cbd2 what you wanted? Also, should we set coverage on the receiver side as well?

[2016-10-10 11:20] bagder opened #162 "func.neat_set_property.md is out of date"
commit 91dafe90ce6 completely changed `neat_set_property` but the documentation is still showing the old way of working... Can I suggest that we don't change public APIs without also updating the corresponding API?

[2016-10-10 11:29] oystedal commented on #162
I'll update the documentation.

I have a bit of a backlog documentation-wise, I'm planning on taking care of that in the second half of the next month.

[2016-10-10 11:31] bagder commented on #162
But why merge code that introduces the new functionality if we can't figure out how to use it?

[2016-10-11 19:38] oystedal opened #163 "ReadTheDocs"
Following the suggestion and the positive opinions about ReadTheDocs, I've made a branch with some initial support for this. The documentation is located at [neat.rtfd.io](http://neat.rtfd.io) or [neat.readthedocs.io](http://neat.readthedocs.io).

An example for `neat_open` (though not updated) may be found at:
http://neat.readthedocs.io/en/latest/neat_open.html

This is my suggestion for a docume

[2016-10-12 15:50] weinrank opened #164 "How to close a flow?!"
Hey,

I'm stuck: how to close properly **close a flow** and when should we **call neat_free_flow()**?

https://github.com/NEAT-project/neat/blob/weinrank/nghttp2/examples/client_http_get.c
Is this fine? I can't find any notes in the docs?

[2016-10-12 16:04] oystedal commented on #164
I think the way it's written in `client_http_get.c` is reasonable. Is there anything wrong with that approach?

[2016-10-12 17:19] adventureloop commented on #164
I think neat_free_flow ends with you stuck in an infinite loop,  [peer](https://github.com/NEAT-project/neat/blob/master/examples/peer.c#L528) calls to neat_close. Semantically neat_close makes the most sense to me.

[2016-10-12 17:53] weinrank commented on #164
@adventureloop

So, to close a neat flow: just call `neat_close()`?
What's about `neat_free_flow()`? Not necessary when using `neat_close()`?

It's about semantics ... if tried several ways, all have bugs. ;)

[2016-10-12 18:07] weinrank commented on #164
To be more detailed:

I'm thinking about the semantics for closing a flow in general:
* Is it necessary to delete/unset all the handler before calling `neat_close()` or is it done automatically?
* Will `neat_close()` call `on_closed()` when finished for all protocols?
* Is it necessary to call `neat_free_flow()` when calling `neat_close()`?
* How to use `neat_free_flow()` in general?

Think about

[2016-10-12 18:24] adventureloop commented on #164
I think there are nesting issues between `neat_close()` and `neat_free_flow()`, one ends up calling the other, if you pick wrong you get stuck in a loop. This part of the stack is a mess right now.

I think we want:
* `on_close()` can be generated by the application or by neat (apps wants to stop, tcp connection dies)
* `neat_close()` is how the app signals to neat it wants to stop
* `on_close()`

[2016-10-12 18:39] adventureloop commented on #164
There are two ways an application can get a flow:
* `neat_new_flow()`
* `on_connected` after a `neat_accept`

Who should free the memory associated with the flow?

[2016-10-12 21:35] oystedal commented on #164
Good point.

I imagine `neat_free_flow` could be needed for cases where you create a flow, but don't open (or listen to) it. Thus, it would make sense to explicitly disallow the use of `neat_free_flow` on a flow that has been opened. For opened flows, they would all be freed at some point after the execution of the `on_close` callback.

[2016-10-12 21:50] weinrank commented on #164
@oystedal Sounds good!

We should improve the docs and make some flow / state charts before implementing... ;)

[2016-10-13 07:59] weinrank commented on #164
@oystedal

When freeing the flow within `on_close()` the `neat_free_candidates()` function is called.
That function also frees the `handle`. I've seen this mostly when using IP-literals.
https://github.com/NEAT-project/neat/blob/weinrank/nghttp2/neat_core.c#L394

This handle is used/accessed when the `walk_cb()` is called at the end.
I've commented this line out, to avoid segfault and only have va

[2016-10-13 13:54] oystedal commented on #164
I'll have a look at it.

What code do you want to merge? Commenting out that line?

[2016-10-13 14:01] weinrank commented on #164
Thanks!

#165 that one. ;)

[2016-10-13 14:24] oystedal commented on #164
Turns out to be a rather silly mistake on my part. https://github.com/NEAT-project/neat/commit/aa59af4a27a5aabe9ed3d71fcef18eaacddb36d1 should fix this. Feel free to cherry-pick it into your branch.

I'll have a look at the pull request now.

[2016-10-13 14:31] weinrank commented on #164
lgtm - merged it into mine...

[2016-10-13 15:26] weinrank opened #166 "Multiple sockets"
Hey, me again! :)

I've seen an odd behavior: If I establish a connection between two neat enabled peers (`client`) and (`echo_server`) where TCP and SCTP is available, `on_connected()` is called twice on the  `echo_server` (once for TCP, once for SCTP). On the server side log you see that two sockets are closed. The `client` only has a single flow.

Attached a logfile from `client` and `echo_serv

[2016-10-13 17:32] oystedal commented on #166
I can't quite see the behavior you're describing based on the log output. I can only see one `on_connected()` in the client log.

The reason why you're seeing two `on_connected()` in the server log is because the server is listening to two sockets (SCTP and TCP, as per the default settings). The HE code currently has a 10ms delay between trying each candidate. If your RTT is >10ms (approximately),

[2016-10-13 18:33] tuexen commented on #166
I think on the client side the HE implementation hides the fact that you use multiple transport connections for a single neat flow. On the server side, no such mechanism does exist. We actually don't assume that the server side is neat-enabled. The question might be how to have a HE server side implementation hiding the HE testing from the server application.

[2016-10-13 20:39] weinrank commented on #166
@tuexen
That explains the behavior.

@oystedal
Sorry, my explanation was badly written, sorry for that.

Here's the part of the server's log file I'm talking about:

[code]

The `on_connected` without a timestamp is the output from the application, the server sees two streams.

Felix

[2016-10-13 21:19] tuexen commented on #166
@weinrank BTW, why do you use such a strange number of streams:
[code]
Is this a bug or intentional?

[2016-10-13 21:21] weinrank commented on #166
;) intentional!

[2016-10-31 14:48] oystedal commented on #162
We now have documentation on ReadTheDocs, which largely supersedes the documentation in the `doc/` directory. Documentation for `neat_set_property` is here: http://neat.readthedocs.io/en/latest/neat_set_property.html and documentation for properties in general is here: http://neat.readthedocs.io/en/latest/properties.html.

[2016-10-31 14:48] #162 closed

[2016-10-31 16:19] oystedal commented on #164
I've changed my mind a little about this. I'm going to axe `neat_free_flow` from the public API, so that there is only one true way of closing/deallocating a flow, `neat_close`, regardless of the state of the flow. `neat_free_flow` will continue to exist internally.

[2016-10-31 16:20] #154 closed

[2016-10-31 16:44] irl opened #171 "Update Debian packaging to use versioned soname"
Thanks to @oystedal for fixing #170. (:

[2016-10-31 17:23] irl opened #173 "Build documentation for Debian package using Sphinx"
Waiting for #163 for the conf.py to be merged to master.

[2016-10-31 18:47] #171 closed

[2016-10-31 18:48] irl opened #174 "Debian package only has Linux deps, needs kFreeBSD deps"
Architecture should probably be set to linux-any, kfreebsd-any as I'm guessing it's not going to build on GNU/Hurd.

[2016-10-31 20:40] irl commented on #174
Done

[2016-10-31 20:40] #174 closed

[2016-10-31 20:48] irl opened #175 "Does not build on Debian GNU/kFreeBSD"
[code]

Using the patch:

[code]

kFreeBSD is a tricky one because you've got the FreeBSD kernel but glibc. Keeping this bug for tracking.

[2016-11-01 11:18] oystedal commented on #166
One "solution" to this could be to let the application decide if the `on_connected` callback should be deferred. Most application layer protocols are initiated by the client sending a message to the server, so we could hide HE by not calling `on_connected` immediately upon a client connecting, but instead call `on_connected` before the first `on_readable` call.

[2016-11-01 11:19] #156 closed

[2016-11-01 11:20] #131 closed

[2016-11-01 12:31] #143 closed

[2016-11-01 13:28] #128 closed

[2016-11-01 16:43] #163 closed

[2016-11-01 16:44] oystedal commented on #173
The documentation (and conf.py) is now present in the master branch.

[2016-11-02 07:34] #164 closed

[2016-11-02 16:34] irl commented on #173
Thanks @oystedal

[2016-11-02 16:46] irl commented on #175
There are many places in the code that have guards based on the operating system in use, not the features of the operating system. For now, I don't think this is worth putting time into, so I will close this issue by removing the kFreeBSD build from the Debian package.

[2016-11-02 17:01] #173 closed

[2016-11-02 17:01] #175 closed

[2016-11-14 13:30] adventureloop opened #179 "`flow->socket` is not set up in the `neat_accept` path"

[2016-11-14 15:23] oystedal commented on #179
Nor is it meant to be, according to my design at least.

When an accepting flow opens sockets to listen on, it uses the `listen_sockets` list instead, in order to support listening to multiple sockets. An accepting flow never uses the `flow->socket`, this is as intended from my side.

If you're talking about the `accept()`-ed flow however, i.e. the one forked off from the listening socket, then th

[2016-11-14 15:39] adventureloop commented on #179
Okay then, the accept()-ed flow is not set up.

[2016-11-14 15:48] oystedal commented on #179
Then I have no idea what's wrong, or how to fix it. The buildbot doesn't complain when testing `server_echo`, so something seems to be working, at least.

How do I reproduce this error, and what is expected to happen instead?

[2016-11-14 15:53] adventureloop commented on #179
Test with a udp server, socket matching doesn't work because the struct is junk.

	[Switching to Thread 804215000 (LWP 101286/neat-streamer)]

	Breakpoint 2, do_accept (ctx=0x80450d600, flow=0x80428a480, listen_socket=0x80428a780)
		at /usr/home/tom/code/neat-streamer/neat/neat_core.c:1491
	(gdb) p *listen_socket
	$6 = {flow = 0x80428a480, fd = 16, family = 2 '\002', type = 2, stack = 1, port = 27

[2016-11-15 12:24] oystedal commented on #179
Ok, take a look at https://github.com/NEAT-project/neat/commit/97a288a02dae9d3aaea26fb4042d22471e8c5554.

For flows accepting UDP connections, the `src_sockaddr` field of the listening UDP socket is the sockaddr that is received from the resolver when the accepting flow is created. The `dst_sockaddr` field of the listening socket is used for temporary storage of the peer address when a new UDP flo

[2016-11-15 15:40] adventureloop commented on #179
It looks great, but the addresses I am getting are junk data. I am trying to figure out why now.

[2016-11-15 15:55] oystedal commented on #179
Sounds strange. I'll do a quick test here and see if I get the same result.

[2016-11-15 16:08] oystedal commented on #179
Indeed I am getting weird addresses as well.

[2016-11-15 16:29] karlgrin opened #180 "Connection Results from HE to PM"
Have started implementing the feedback of the connection attempts by HE to PM in branch karlgrin/he_pm_161107 . The question is if this is an ok start and thus could be merged into master. @bozakov could you check if the results from HE are correctly stored by the PM daemon; to me it looks ok.

[2016-11-15 16:43] oystedal commented on #179
I was printing it incorrectly.

The following shows the addresses correctly for me, in neat_core.c at around line 1003.

[code]

[2016-11-15 17:04] oystedal commented on #180
Two remarks:

The `neat_json_send_once` function was created for this very purpose, sending one-shot data to the PM and not really care too much about errors. I'd rather suggest we use that one instead of duplicating most of the neat_pm_socket code.

`json_pack` is able to create nested objects and arrays, e.g. `json_pack("[{s{si}}]", "my_object", "my_integer", 4);`. Thus, building the JSON object

[2016-11-16 07:07] karlgrin commented on #180
@oystedal I will indeed fix the creation of the JSON object. As regards, the neat_json_send_once, I am inclined to disagree with you. I think we should aim for a solution that does not generate unwarranted errors.

[2016-11-16 10:29] bozakov commented on #180
@karlgrin The cached result is being sent back over the `neat_pm_socket`. It should be returned over the new `neat_cib_socket` instead, which was recently pushed to the master branch. Otherwise it looks like a good start.

We also need an UID attribute for each CIB entry: the question is wether this should be generated by HE, or the PM. I can add it through the PM for now, but we need to think abo

[2016-11-16 12:35] karlgrin commented on #180
@bozakov I will definitely send the result over the neat_cib_socket. I am not sure I understand the need for a UID, could you please explain that (we could take it over Slack if you would prefer that). As regards HE and what it returns, as it is currently implemented, it will always return a JSON list of CIB entries. I am not sure I understand what else should be returned from HE.

[2016-11-22 08:37] karlgrin commented on #180
@bozakov Revised HE-PM communication so that it transmits over the neat_cib_socket. Maybe you could check that it works correctly (although a bit simplistic). Maybe we could have a discussion over Slack on how to continue. I must admit that I am currently quite puzzled about the way the PM works.
@oystedal I have substantially compressed the creation of the JSON object (1 line) and uses the neat_j

[2016-11-22 16:33] bozakov commented on #180
@karlgrin Merged the policy manager from the main branch into yours. Basic communication with HE seems to be working, apart from some small nits. The PM logic is not too complex - let's discuss on Slack.

[2016-11-23 07:41] karlgrin commented on #180
@bozakov Ok. Let's continue on Slack.

[2016-11-23 09:42] dreibh opened #185 "server_daytime: -v option is ignored"
Trying to reduce the verbosity of server_daytime's output, I tried:
/server_daytime -v 0
/server_daytime -v 1
/server_daytime -v 2
There seems to be no change in the output verbosity. In any case, there it a lot of debugging information printed on the screen.

[2016-11-23 09:44] dreibh opened #186 "client: infinite loop when trying to query daytime service"
How to reproduce:
./server_daytime
In separate shell:
./client -v 2 localhost 8080

Result:
Infinite loop of:
...
[   3.291762][DBG] updatePollHandle
[   3.291773][DBG] uvpollable_cb
[   3.291819][DBG] io_readable
[   3.291828][DBG] updatePollHandle
[   3.291840][DBG] uvpollable_cb
[   3.291850][DBG] io_readable
[   3.291895][DBG] updatePollHandle
[   3.291907][DBG] uvpollable_cb
[   3.291917][DBG

[2016-11-23 09:46] dreibh commented on #186
When aborting "client" with SIGINT, the daytime_server terminates with this:

[   3.756803][DBG] neat_run_event_cb
[   4.681689][DBG] uvpollable_cb
[   4.681708][DBG] ERROR: bad file descriptor
[   4.681718][DBG] Socket layer errno: 104 (Connection reset by peer)
[   4.681722][DBG] neat_notify_aborted
[   4.681724][ERR] Unspecified internal error when polling socket
[   4.681726][DBG] neat_io_erro

[2016-11-23 09:50] dreibh opened #187 "client_http_get/client_https_get: core dump"
How to reproduce:
client_http_get www.nntb.no
(also: client_https_get www.nntb.no)

Result:
...
HTTP/1.1 301 Moved Permanently
Date: Wed, 23 Nov 2016 09:49:11 GMT
Server: Apache
Location: https://www.nntb.no/
Content-Length: 228
Connection: close
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>301 Moved Permanently</title>
</head>

[2016-11-23 09:52] dreibh commented on #185
"-v" is also ignored for "client" (and probably for other examples as well).

[2016-11-23 10:02] dreibh opened #189 "Naming inconsistencies for the examples"
examples/README.md mentions neat_http_get, but the program is called client_http_get.

Suggestion:
Use neat_http_get, neat_client, neat_server_*, etc.. This makes the purpose of the program clear.

When submitting the package to Debian for review, such naming will very likely be required, in order to distinguish the NEAT clients and servers from various other clients and servers.

[2016-11-23 10:20] dreibh opened #190 "client_https_get does not use HTTPS"
client_https_get just uses HTTP, not HTTPS:
client_https_get www.nntb.no

The result is an error message from the web server, complaining about plain HTTP on the TLS-enabled server port 443. (GitHub file upload does not work. I can provide a pcap trace, if needed.)

[2016-11-23 12:17] weinrank commented on #186
I will check it.

OS?

[2016-11-23 12:17] weinrank commented on #185
Will check that.

[2016-11-23 12:19] dreibh commented on #186
Hi,

Onsdag 23. november 2016 04.17.01 skrev Felix Weinrank:

Linux (Ubuntu 16.04).

--
Best regards / Mit freundlichen Grüßen / Med vennlig hilsen

=======================================================================
 Thomas Dreibholz

 Simula Research Laboratory
 Simula Innovation AS, Network Systems Group
 Visiting address: Martin Linges vei 17, 1364 Fornebu, Norway
 Mailing address:  P.O.Bo

[2016-11-23 12:44] weinrank commented on #185
There are two different log mechanisms, one for the examples and one for neat itself.

The verbosity of the examples is controlled by the `-v` parameter while the neat-internal logging mechanism is (currently) controlled by two environment variables:
`NEAT_LOG_LEVEL` and `NEAT_LOG_FILE`

I've written a documentation about it but I don't find it in the current one.

[2016-11-23 13:26] oystedal commented on #190
This is likely a mishap when moving from the old property system using bitmasks to the new properties using JSON. I thought I updated and tested this, but I'll have a look at this anyway.

TODO:
- Ensure that client_https_get actually asks for security with precedence == 2
- Ensure that security is installed for flows where this property is present

@bozakov: Can we make the PM generate a candidat

[2016-11-23 13:55] bozakov commented on #190
I could do that, but do we really want to have this expansion done inside the PM? Lets say we have _n_ optional (precedence==1) boolean properties, would we have to generate ~2^_n_ candidates? Or are you suggesting to do that only for security? If HE looks at the property anyway, can't it check if its optional or not?

[2016-11-23 14:16] oystedal commented on #190
You're right @bozakov. We can actually do this directly in HE instead by queuing a candidate with the desirable properties followed by a candidate with all the desired properties removed (at least as a starting point). Quite slow of me to not think of this.

[2016-11-23 15:20] karlgrin commented on #190
@oystedal Is this something that involves me, or do you intend to do it yourself?

[2016-11-23 15:47] oystedal commented on #190
@karlgrin Up to you. I have a pretty clear idea of how to implement it, so I figured I might as well do it. If you want to take care of it, feel free to do so.

[2016-11-23 16:33] karlgrin commented on #190
@oystedal By all means go ahead. However, to me it would make sense to accept my pull request first so that the HE-PM communication goes into master.

[2016-11-23 17:11] mangis-emc opened #191 "SCTP extra 20 bytes in raw socket"
In order to minimise code changes in legacy application, I'm trying the approach of initiating the connection using NEAT and then, inside the `on_connected` callback, extract the raw socket descriptor, stop NEAT loop and pass the raw socket descriptor back to the legacy application logic.
It works with TCP, but with SCTP I always find 20 bytes in the client in the raw socket descriptor after the c

[2016-11-23 17:17] mangis-emc commented on #191
The 20 bytes have always this shape:
`01 80 00 00 14 00 00 00 00 00 00 00 01 00 01 00 29 01 00 00`
with the 17th incrementing by 2 at each run. Maybe on of our SCTP expert can say what it is by heart...

[2016-11-23 17:21] abrunstrom commented on #190
Sorry to jump in, but should this functionality really go into the HE.
Isn't the ranking of the candidates with some desirable properties not
available a policy decision?

On 2016-11-23 17:33, Karl-Johan Grinnemo wrote:

[2016-11-23 17:49] tuexen commented on #191
Are you using a kernel stack (which OS?) or the userland stack?

[2016-11-23 17:57] mangis-emc commented on #191
Kernel stack in Ubuntu 16.04.1

[2016-11-23 18:14] tuexen commented on #191
That is an SCTP_ASSOC_CHANGE notification. See [RFC 6458](https://tools.ietf.org/html/rfc6458#section-6.1.1) for details. They are enabled in `neat_sctp_init_events()`.

Please note that you can't assume that you can get an fd for a neat flow. In case of a userland SCTP stack, there is not fd for a particular SCTP association.

[2016-11-23 19:45] mangis-emc commented on #191
Thank you, that was quick! As I know very little about SCTP, isn't this notification part of the connection establishment? I see that it comes from the stack itself and not from the remote endpoint (that also explains why I couldn't find those bytes in any packet recorded by running wireshark in parallel), but when does it get read by NEAT?

You're right about the socket descriptor assumption, it'

[2016-11-23 20:14] tuexen commented on #191
When the stack inserts a notification in the socket receive buffer, the socket becomes readable.
It is then handled in https://github.com/NEAT-project/neat/blob/master/neat_core.c#L1125.

Please note that finding the fd not readable in `on_connected()` isn't guaranteed by anything. It is just about the application layer protocol and timing. Think running against a daytime server and having some de

[2016-11-24 08:27] #191 closed

[2016-11-24 08:35] mangis-emc opened #192 "HE should stop attempting new connections when one works"
As far as I've seen, when a connection works and there's no event to be processed by the main loop, HE keeps on trying to establish connections using the other candidates left in the queue.
HE should cancel any subsequent connection attempts once something has successfully connected.

And to check that the connection works there's a related issue: #126

[2016-11-24 13:46] karlgrin commented on #192
@mangis-emc HE continues all of them so that it is able to cache connection results. The idea is that the next time cached results could be use and thus no extra connection attempts need to be carried out.

[2016-11-24 15:36] oystedal commented on #186
I'm unable to reproduce any part of this issue on my system, which is Arch Linux running a Linux 4.8.10 kernel with the ck patches. I don't have a machine running ubuntu readily available.

@weinrank: Did you test this, and if so, what was your result?

@dreibh: Do you get the same result if you specify `127.0.0.1` instead of `localhost`? Also, the entire log from the client is of interest. This c

[2016-11-24 16:49] oystedal commented on #187
Yikes, looked at the wrong issue for the number to put in the commit message.

[2016-11-24 16:59] oystedal commented on #190
I'm closing this issue since the main problem brought up in this issue has been resolved.

[2016-11-24 16:59] #190 closed

[2016-11-24 17:47] oystedal opened #193 "How to deal with desired properties in PM and HE"
Background: Off-topic discussion in #190.

My suggestion in #190 is not viable, as @abrunstrom pointed out, since this should be a policy decision. My new proposal is to treat this problem analogously to a binary search.

When the PM encounters a candidate C with any number of desirable properties, it generates exactly two candidates, C0 and C1. If there is no CIB information available, then C0 is

[2016-11-24 18:15] oystedal commented on #187
Ok, I think I have narrowed this down to be caused by attempting to close unopened handles. Please give b1f6fcb817593278bf4738e3bbc29cb17b6f2b18 a test and see if this fixes the issue.

[2016-11-25 07:49] bagder opened #194 "OpenSSL 1.1.0+ build failures"
I built neat from git master just now on Debian Unstable which now has OpenSSL 1.1.0c by default. It causes the build failures below that can be repaired with a patch similar to
[0001-neat_security-fix-build-with-OpenSSL-1.1.0.patch](https://github.com/NEAT-project/neat/files/612728/0001-neat_security-fix-build-with-OpenSSL-1.1.0.patch.txt)

[code]

[2016-11-25 09:21] weinrank commented on #186
@oystedal I can't reproduce the problem.

[2016-11-25 10:06] bozakov commented on #193
@oystedal I think your proposal is quite interesting. However I'm also afraid that we would introduce a fair bit of new complexity, while we still haven't fully looked at and understood many real use cases. My suggestion is to defer this for now. Right now, lets assume that HE ignores all optional properties, so the PM will try to set as many properties to mandatory as possible using policies and

[2016-11-25 10:26] bozakov commented on #190
@abrunstrom Not sure if understand your comment correctly: the PM _will_ rank the candidates taking all app properties and known CIB information into account. So, as a result of some request, the top ranked candidate may contain the property "security" which for some reason the user specified as optional (ignoring for now that IMO ”optional" security is a bit of an oxymoron) - this property could

[2016-11-25 13:10] dreibh commented on #187
Yes, b1f6fcb is working.

[2016-11-25 13:26] mangis-emc commented on #192
@karlgrin are you saying that HE tries to connect to all the candidates to check if they work and it close them immediately after to cache results? Or does it keep them alive to reuse them later?

[2016-11-25 13:33] weinrank commented on #189
+1

[2016-11-25 13:35] #187 closed

[2016-11-25 13:41] oystedal commented on #194
Thanks for the heads up. The patch looks good to me.

[2016-11-25 13:43] karlgrin commented on #192
@mangis-emc You're correct in your observation: HE tries to connect to all the candidates to check if they work, cache the result, and close the connection.

[2016-11-25 13:51] oystedal commented on #193
Indeed, I don't see any point in rushing this feature.

[2016-11-25 14:06] bagder commented on #194
I forgot to mention that detail, but when doing version number #ifdef checking with openssl a little extra fiddling is required if we want to retain ability to build with libressl as they have another numbering. The patch adapts to that.

[2016-11-25 14:14] oystedal commented on #194
I have no issues with keeping that bit there, but it might seem strange to some when we don't officially support libressl (or do we?).

[2016-11-25 14:17] adventureloop commented on #194
Does libressl support dtls? A quick grep of the man page doesn't give any results.

[2016-11-25 14:22] bagder commented on #194
I don't have a strong opinion either way. In the curl project we support all three openssl forks because they're still similar enough so that it is possible and I took inspiration for the patch from there.

[2016-11-25 14:38] tuexen commented on #194
Since I think we should support (D)TLS for all transports where it makes sense: SCTP, TCP, UDP (I think DTLS/UDPLite doesn't make sense). OpenSSL supports all of these. I'm fine with adding other SSL libraries, but we will have to deal with the case that not all of them support all protocols.
This means we might end up with using multiple ssl implementations at the same time or we add the missing

[2016-11-25 14:49] adventureloop commented on #194
I would like to avoid the ifdef spaghetti we would end up with when we have multiple tls implementations with differing support for features. I would like to keep the security critical parts of neat as simple as possible.

[2016-11-25 14:53] bozakov opened #197 "HE cache entries should contain all candidate properties received from PM"
CIB cache entries generated by HE for the policy manager should contain _all_ candidate properties as received from the PM to ensure that future requests match. Currently this is a fixed set of properties.

@karlgrin @oystedal Could you please have a look at this?

[2016-11-25 15:11] oystedal commented on #197
`candidate->properties` should contain all properties received from the PM for that particular candidate. In other words, maybe this is what should be sent back to the PM?

[2016-11-25 15:17] bozakov commented on #197
That looks right, and this would have to be inserted under the properties attribute in the JSON structure defined for `result_array` on line 1349

[2016-11-25 15:49] bagder commented on #194
I filed #198 without the libressl thing

[2016-11-25 17:10] #194 closed

[2016-11-28 07:16] karlgrin commented on #197
Ok. I'll look into it.

[2016-11-28 09:49] bagder opened #199 "Timeouts still occur, causing slow connects with RUN_NOWAIT"
As mentioned in https://github.com/NEAT-project/neat/pull/147#issuecomment-252902539: if we build and run the `client_http_run_once` example, it will always trigger (what seems to be) a 1000 milliseconds timeout for the connect operation. Even though everything else is working fine.

[2016-11-28 11:46] dreibh opened #201 "Access to neat_internal.h by examples"
3 examples access NEAT internals from  #include <neat_internal.h>:

$ grep neat_internal *.c
client.c:#include <neat_internal.h>
peer.c:#include <neat_internal.h>
server_echo.c:#include <neat_internal.h>

It is probably not intended for a user to access these internal structures? If some accesses are intended, proper public API functions need to be defined.

[2016-11-28 12:27] weinrank commented on #201
It is not and was planned as a temporary solution.

I'm currently working on the examples and will delete the include.

[2016-11-28 12:42] weinrank commented on #201
The `client` needs access to the UV event loop to read from stdin.

Any suggestions how to realize? We could expose the `neat_ctx` structure or (preferred by me) offer a function which returns the loop pointer...

[2016-11-28 13:55] weinrank opened #203 "Error handling"
Hey,

I added a test case where the `client_http_get` connects to a host which doesn't have listening service on that port.

In that case, `on_error()` is called which calls `neat_close()`.
This leads to failed assertion:
http://buildbot.nplab.de:28010/builders/freebsd-head/builds/194/steps/testing/logs/stdio

[2016-11-28 14:14] oystedal commented on #201
Giving unconditional access to the `neat_ctx` structure is a guaranteed way to introduce errors when applications start hacking away on it.

I'd say that exposing the loop pointer in the API is sufficient. It's also possible to use `NEAT_RUN_NOWAIT` and poll both the backend fd and stdin from the main function of `client`.

[2016-11-28 14:57] oystedal commented on #203
Looking into this now.

[2016-11-28 16:07] oystedal commented on #203
Please give https://github.com/NEAT-project/neat/commit/27a23f6c596b336b7b96e5a82853c233f00b5cae a try.

[2016-11-28 18:43] weinrank commented on #203
lgtm! 👍

[2016-11-28 18:43] #203 closed

[2016-11-28 19:12] oystedal commented on #203
:tada:

[2016-11-29 09:10] karlgrin commented on #197
@oystedal @bozakov  Could this issue be closed?

[2016-11-29 09:13] karlgrin commented on #192
@mangis-emc @oystedal Could this issue be closed?

[2016-11-29 09:14] karlgrin commented on #126
@tuexen @oystedal  Could this issue be closed?

[2016-11-29 09:38] oystedal commented on #192
I would say it can be closed since this functionality is intended.

[2016-11-29 09:40] oystedal commented on #126
I have not experienced any further issues, so this may be closed in my opinion.

[2016-11-29 09:43] #126 closed

[2016-11-29 09:44] #192 closed

[2016-11-29 10:04] mwelzl commented on #192
oh, is this the connection-cashing thing i asked about? sounds like it...

Sent from my iPhone

[2016-11-29 12:06] bozakov commented on #197
One additional request @karlgrin: could we remove the `interface` property from the properties array. This is exception is needed because the `interface` property is contained in the match array.

[2016-11-29 12:11] weinrank opened #205 "Buildbots - Valgrind tests fail"
See logfile

[code]

[2016-11-29 13:42] karlgrin commented on #205
Ok. Will look into it. Maybe not this week, but next week.

[2016-11-29 13:44] karlgrin commented on #197
Ok. I will check this; Maybe not this week, but probably the next.

[2016-11-29 14:42] bozakov commented on #205
I've reverted the changes from this mornings pull request #204. This doesn't appear to be the cause of the errors. I would have to defer to @karlgrin or @oystedal to have a closer look.

[2016-11-29 14:46] weinrank commented on #205
After reverting the change ⏩  all green again. 💚

[2016-11-30 08:39] dreibh opened #206 "SCTP_MULTIHOMING: reason for variant without multi-homing support?"
Is there a reason to create a NEAT version without multi-homing support, by not defining SCTP_MULTIHOMING? If SCTP is available, it makes sense to always support multi-homing as well. This avoids to maintain and debug different versions of the NEAT library.

[2016-11-30 08:46] dreibh opened #207 "Security issue: MAX_LOCAL_ADDR is never checked when initialising address structures => buffer overflow possible"
$ grep -r MAX_LOCAL_ADDR .
./neat_internal.h:   #define MAX_LOCAL_ADDR             10
./neat_internal.h:   struct sockaddr_storage local_addr[MAX_LOCAL_ADDR];

The address initialisation code in neat_core.c just keeps initialising addresses from the string in "address_name", without ever checking for the limit in MAX_LOCAL_ADDR => buffer overflow possible.

Also, MAX_LOCAL_ADDR is too small. There

[2016-11-30 09:25] tuexen commented on #206
It should not be a compile time switch, but a runtime switch. Something you can request as a user. If the user request some way of fault tolerance or loadsharing, it should be enabled. Whether it is on by default or not, I'm not sure. In case of NATed devices we might run into problems with multihoming. So it might be saver to start with off by default.
@ruengeler Irene will look into this.

[2016-11-30 14:02] dreibh opened #208 "neat_set_operations(): pointer copy -> pointer may become invalid if user does not take care"
neat_set_operations(neat_ctx *mgr, neat_flow *flow, struct neat_flow_operations *ops) just copies a user-provided pointer to the neat_flow_operations structure:
flow->operations = ops;

If the user declares the neat_flow_operations structure, it will be gone later, and the pointer will point to invalid data. What about using a "struct neat_flow_operations operations" inside neat_flow, and copying

[2016-11-30 14:06] dreibh commented on #208
Solved. The structure is not only used for providing the callback pointers.

[2016-11-30 14:06] #208 closed

[2016-11-30 14:37] oystedal commented on #208
Just for reference, was this closed with no further action taken?

[2016-11-30 14:55] dreibh opened #209 "client: Could not bind fd <N> socket to interface <I>"
When experimenting with the example "client", I see a lot of Could not bind fd <N> socket to interface <I> warnings:

$ ./client www.nntb.no 80
[   0.000627][ERR] neat_start_request - No available src addresses
[   1.004384][WRN] Could not bind fd 21 socket to interface eth2
[   1.013637][WRN] Could not bind fd 15 socket to interface eth2
on_connected - available streams : 1
[   1.023931][WRN] Cou

[2016-11-30 14:58] dreibh commented on #209
The interfaces on my test machine have multiple IPv4 and IPv6 addresses. Particularly, eth1.110 has 4 IPv4 addresses and 4 IPv6 addresses (1 address pair for each of 4 different ISPs).

[2016-11-30 16:38] #205 closed

[2016-11-30 17:45] oystedal opened #211 "Binding to a name in neat_open and neat_accept"
The API specified in D1.2 states that `neat_open` and `neat_accept` should be able to take a local name/address as an optional parameter and bind to it.

[2016-11-30 17:46] oystedal opened #212 "Return information from `neat_accept`"
The API in D1.2 specifies that `neat_accept` should return some information. This could either be returned through the optional argument system, or provided as properties.

[2016-11-30 17:47] oystedal opened #213 "Partial reliability and unordered delivery"
The API in D1.2 specifies that it should be possible to specify partial reliability and unordered delivery. This should be implemented once it's clear how to accomplish this.

[2016-11-30 17:51] oystedal opened #214 "Banning IPv4 or IPv6"
Properties should be added to ban the use of IPv4 or IPv6.

If possible, this could be filtered by the resolver, or it could be filtered after names have been resolved (in `open_resolve_cb` and `on_candidates_resolved`).

[2016-11-30 17:56] evyncke commented on #214
Do we really want to introduce such a property?

It makes little sense for me except for testing

-éric

From: oystedal <notifications@github.com>
Reply-To: NEAT-project/neat <reply@reply.github.com>
Date: Wednesday 30 November 2016 at 18:51
To: NEAT-project/neat <neat@noreply.github.com>
Subject: [NEAT-project/neat] Banning IPv4 or IPv6 (#214)

Properties should be added to ban the use of IPv4 or

[2016-11-30 17:59] oystedal commented on #214
This was a feature that existed in the old property system that was using bitmasks. It's useful for testing and diagnosing network issues. Other than that, I agree that it makes little sense for applications to use this property as part of normal operation.

[2016-11-30 18:00] oystedal opened #215 "Fallback to SCTP over UDP if SCTP fails."
The default behavior/policy should be to use SCTP/UDP if SCTP fails to connect. This should happen by default, and without specifying that SCTP/UDP should be used, unless SCTP over UDP (or UDP encapsulation in general) is explicitly banned.

[2016-11-30 18:06] oystedal opened #216 "Apply properties at defined locations"
All properties set by the NEAT logic should be set in one of two places:
- `neat_connect` if it needs to be set prior to connection setup.
- `he_connected_cb` otherwise.

Setting properties could possibly be done in separate functions, e.g. `neat_properties_pre_connect` and `neat_properties_post_connect`, called from the functions above.

[2016-11-30 18:10] evyncke commented on #214
:-)

Could we introduce it as 'reserved' or 'hidden' properties?

From: oystedal <notifications@github.com>
Reply-To: NEAT-project/neat <reply@reply.github.com>
Date: Wednesday 30 November 2016 at 18:59
To: NEAT-project/neat <neat@noreply.github.com>
Cc: Eric Vyncke <eric@vyncke.org>, Comment <comment@noreply.github.com>
Subject: Re: [NEAT-project/neat] Banning IPv4 or IPv6 (#214)

This was a feat

[2016-11-30 18:10] oystedal opened #217 "Code cleanup"
- Some of the functions are unnecessarily long, and parts are only executed for specific protocols.
- Stack-specific code should be separated more cleanly.
- Large blocks of `select (flow->socket->stack)` should be simplified/refactored.

[2016-11-30 18:24] oystedal opened #218 "Improved testing"
- Unit tests: NEAT could benefit from having unit tests in the long run, especially if external contributions become more frequent. Suggested tools would be [CMocka](https://cmocka.org/) for mocking functions and [Catch](https://github.com/philsquared/Catch) for use as a testing framework.

- Network testing using synthetic traffic: As of currently, the buildbot is testing NEAT on a real network.

[2016-11-30 18:28] tuexen commented on #218
You could also use [IMUNES](http://imunes.net) for testing NEAT in several network scenarios...

[2016-11-30 19:06] dreibh commented on #218
Hi,

On onsdag 30. november 2016 10.24.18 CET oystedal wrote:

If you are interested, I could create a slice for you in NorNet Core. It would
provide you access to multi-homed VMs at 21 sites in 7 countries. The machines
run Linux, support kernel SCTP, DCCP plus the latest Linux MPTCP version. See
https://www.nntb.no/pub/nornet-configuration/NorNetCore-Sites.html for the full
site list.

More deta

[2016-12-01 10:14] #185 closed

[2016-12-01 10:15] #44 closed

[2016-12-01 10:15] #138 closed

[2016-12-01 13:36] dreibh opened #219 "For discussion: neat_write()/neat_read() and scatter/gather I/O"
The NEAT socket API I am writing could make use of scatter/gather I/O via sendmsg()/recvmsg() calls. In order to map scatter/gather I/O to the underlying NEAT core API functions, it would be necessary for neat_write()/neat_read() to provide this feature.

Is scatter/gather I/O a useful feature for the intended NEAT users, in order to avoid unnecessary copying?

[2016-12-01 13:38] dreibh commented on #219
If performance is important for NEAT, also support for zero-copy support with sendfile() may be considered as well (see http://www.techrepublic.com/article/use-sendfile-to-optimize-data-transfer/).

[2016-12-01 17:04] tuexen commented on #219
The decision was that we do not ficus on zero copy (for now). So do the copy operation above neat in the socket shim layer.

[2016-12-02 18:34] dreibh commented on #215
Sounds fine.

[2016-12-03 15:36] #179 closed

[2016-12-05 11:26] dreibh opened #224 "Build with usrsctp failed"
How to reproduce:
cmake -DUSRSCTP_SUPPORT=1 .
make

Errors:
/home/dreibh/src/neat/neat_core.c: In function ‘neat_write_flush’:
/home/dreibh/src/neat/neat_core.c:3472:81: error: ‘sndinfo’ undeclared (first use in this function)
                                (struct sockaddr *) (flow->sockAddr), 1, (void *)sndinfo,
                                                                                 ^

[2016-12-05 11:28] dreibh commented on #224
libusrsctp is the latest upstream version, of course.

FYI: I also created Debian/Ubuntu and RPM packaging files and scripts for libusrsctp. See my libusrsctp pull requests here:
- https://github.com/sctplab/usrsctp/pull/116
- https://github.com/sctplab/usrsctp/pull/117

[2016-12-06 09:09] dreibh opened #225 "Security issue: TLS root CAs are hard-coded into tls-trust.c"
TLS root CAs are hard-coded into tls-trust.c. There is no possibility to add/remove root CAs, or to ensure that revoked root CA certificates are not trusted any more.

NEAT should use the operating system's trusted root CA list by default (e.g. Ubuntu: based on configuration in /etc/ca-certificates.conf). This would ensure that an up-to-date list of CAs is used (assuming the operating is properly

[2016-12-06 09:33] dreibh opened #226 "Security enhancement: TLS configuration"
In neat_security.c: neat_security_install():

SSL_CTX_set_options(private->ctx, SSL_OP_NO_SSLv2 | SSL_OP_NO_SSLv3):
What about adding SSL_OP_NO_TLSv1 and SSL_OP_NO_TLSv1_1 as well, in order to enforce at least TLS 1.2 by default? If a user program wants to allow older versions (TLS 1.0, TLS 1.1), it must explicitly override the default.

SSL_CTX_set_cipher_list(private->ctx, "DEFAULT:-RC4");
This

[2016-12-06 09:46] dreibh opened #227 "Security enhancement: OCSP including OCSP Stapling should be supported"
Feature wishlist: OCSP including OCSP Stapling should be supported. See also https://www.openssl.org/docs/man1.0.1/ssl/SSL_set_tlsext_status_type.html .

[2016-12-07 02:35] mcmanus commented on #226
i don't think actually wants an api for setting ciphers - this is something it should simply do correctly as a design choice. but its a design choice and ymmv - but its consistent with the purpose of the api.

the ciphers should be restricted further, I agree.

tls 1.0 and 1.1 are considered acceptable best practice right now (in a way that ssl and rc4 are not) and removing them would break compat

[2016-12-07 08:44] weinrank commented on #224
I assume OS is Linux? ;)

NEAT requires a modified version of usrsctp:
https://github.com/NEAT-project/usrsctp-neat
Branch: usrsctpForNeat

Have you installed this version?

[2016-12-07 10:32] dreibh commented on #224
I see. Is this documented somewhere? Ideally, of course, the usrsctp-neat modification should be merged upstream. This would simplify things.

CMakeLists.txt should also be extended with some checks for the added functions, in order to produce a useful error message pointing the user to the right version of usrsctp.

[2016-12-07 10:35] dreibh commented on #224
I created a pull request for the Debian/Ubuntu/RPM packaging for usrsctp-neat -> https://github.com/NEAT-project/usrsctp-neat/pull/2 . Having this version of usrsctp-neat, neat builds with userland SCTP as expected.

[2016-12-07 10:52] dreibh commented on #226
TLS 1.2 is already more than 8 years old. If users really want to use very old legacy systems, they should explicitly request backwards compatibility (or better fix their systems to have state-of-the-art security). The default should be state-of-the-art security, not legacy support.

[2016-12-15 09:33] bagder opened #230 "neat_set_operations() should copy the ops struct"
Ok, first it is not documented that right now neat will only copy the *pointer* to the struct set in the third argument to `neat_set_operations()`. So an application will need to keep that ops struct around for the life time of the flow. The life time is not documented either.

I would *strogly* prefer that neat instead copies the contents of the struct into its own local copy so that the applicat

[2016-12-15 13:16] dreibh commented on #230
Yes, this was the issue observed in #208.

[2016-12-15 13:22] dreibh opened #231 "Bug: neat_accept() + neat_set_operations() => free() on user-allocated structure"
This is somewhat related to #230 and #208:

The neat_flow_operations structure is handled by the user program. But for neat_accept(), NEAT allocates this structure for a new flow (in do_accept()). This is indicated by newFlow->ownedByCore = 1. synchronous_free() will then free this structure. However, neat_set_operations() does not set ownedByCore=0 when a user-defined structure is provided => syn

[2016-12-15 13:37] dreibh opened #232 "TLS certificates from files"
NEAT currently reads a TLS certificate and key from a file for each flow separately. This is quite inefficient when there are many flows. Is also requires this information to be available as a file.

[2016-12-15 13:56] bagder commented on #231
Whoa, this isn't mentioned in the docs so maybe that could be a step as well?

[2016-12-15 15:01] dreibh commented on #219
What about moving the scatter/gather copy wrapper into two new Core API functions:
NEAT_EXTERN neat_error_code neat_writev(struct neat_ctx *ctx, struct neat_flow *flow,
                                        const struct iovec *iov, size_t iovlen,
                                        struct neat_tlv optional[], unsigned int opt_count);
NEAT_EXTERN neat_error_code neat_readv(struct neat_ctx *ct

[2016-12-16 09:44] #186 closed

[2016-12-16 09:45] weinrank commented on #217
It's on my ToDo-list

[2016-12-16 14:58] dreibh opened #235 "Memory leak: accept_resolve_cb (neat_core.c:3262)"
When debugging some server tests, I noticed Valgrind reporting this memory leak:

==27302== 2,144 (376 direct, 1,768 indirect) bytes in 1 blocks are definitely lost in loss record 3 of 4
==27302==    at 0x4C2AB80: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==27302==    by 0x504CBF3: accept_resolve_cb (neat_core.c:3262)
==27302==    by 0x5052914: neat_resolver_timeout_shared (n

[2016-12-19 13:55] dreibh opened #236 "open_resolve_cb: Assertion `nr_of_stacks' failed when neat_set_property() is not called before neat_open()."
open_resolve_cb: Assertion `nr_of_stacks' failed when neat_set_property() is not called before neat_open().

How to reproduce:
1. Create NEAT flow with neat_new_flow()
2. *Not* call neat_set_property() => no properties set
3. Call neat_open() => assertion will be caused within main loop

Program terminated with signal SIGABRT, Aborted.
#0  0x00007f4c8ea03c37 in __GI_raise (sig=sig@entry=6) at ../n

[2016-12-19 14:08] dreibh opened #237 "SIGPIPE on server's sendmsg() call when client aborts connection"
My test server aborts on SIGPIPE on sendmsg() in neat_core.c:4086 when the connection is aborted by the client:

==21498== Process terminating with default action of signal 13 (SIGPIPE)
==21498==    at 0x526D9BD: ??? (syscall-template.S:81)
==21498==    by 0x504D87A: neat_write_to_lower_layer (neat_core.c:4086)
==21498==    by 0x504DBAC: neat_write (neat_core.c:5293)
==21498==    by 0x4E3BE73: nea

[2016-12-19 14:09] dreibh commented on #237
The behaviour is the same for both, SCTP and TCP.

[2016-12-19 14:14] mcmanus commented on #237
definitely shouldn't generate sigpipe.. MSG_NOSIGNAL is good - masking signals process wide is a scary thing for a process to do.

[2016-12-20 08:55] dreibh opened #238 "neat_open() with multiple addresses"
Is it intended to specify a list of remote addresses, instead of a DNS name, when calling neat_open()? I am currently implementing a wrapper for existing code based on sctp_connectx() calls (for ported code using addresses), so it would be useful to have the possibility to provide multiple remote addresses to neat_open(), e.g.:
neat_open(ctx, flow, "2a02:c6a0:4015:10::100,212.201.121.100", 8888, N

[2016-12-20 09:06] dreibh opened #239 "How to obtain local/remote addresses of a NEAT flow"
Is there a possibility to obtain the (current) local and remote address(es) of a NEAT flow? This information is needed to implement the socket API functions nsa_getsockname(), nsa_getpeername(), nsa_getladdrs(), nsa_getpaddrs() as well as to return an address with nsa_accept().

[2016-12-20 10:01] weinrank commented on #239
There is `neat_get_stats`, it returns a json object with information and statistics about the flow.
We currently don't have a function for your specific needs.

Another starting point is the `neat_geat_property` function, maybe you could extend it.

[2016-12-20 11:51] dreibh commented on #235
The line numbers have changed after some recent merges/commits, but the bug remains:

==26216== 1,104 (392 direct, 712 indirect) bytes in 1 blocks are definitely lost in loss record 4 of 4
==26216==    at 0x4C2CC70: calloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==26216==    by 0x504C847: accept_resolve_cb (neat_core.c:3592)
==26216==    by 0x50533C4: neat_resolver_timeout_shared

[2016-12-20 12:44] ruengeler commented on #238
Hi Thomas,

in my CMT branch you can use multiple destination addresses like you did. I combine all specified addresses, as defined in NEAT_OPTARG_STRING(NEAT_TAG_LOCAL_ADDRESS, "212.201.121.91,10.1.1.1,10.1.2.1“);
with the individual destination addresses. Thus I get as many candidates, as there are destination addresses. I do not use sctp_connectx, yet.

Best regards

Irene

********************

[2016-12-20 12:45] dreibh commented on #237
Created pull request with fix: https://github.com/NEAT-project/neat/pull/240

[2016-12-20 12:45] dreibh commented on #235
Created pull request with fix: https://github.com/NEAT-project/neat/pull/240

[2016-12-20 12:45] dreibh commented on #231
Created pull request with fix: https://github.com/NEAT-project/neat/pull/240

[2016-12-20 12:57] dreibh opened #241 "accept_resolve_cb(): memory leak for uv_poll_t "handle"."
accept_resolve_cb() allocates a structure uv_poll_t "handle". This structure, however, is never freed. Valgrind reports it as "definitively lost":

==18527== 320 (160 direct, 160 indirect) bytes in 1 blocks are definitely lost in loss record 2 of 3
==18527==    at 0x4C2CC70: calloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==18527==    by 0x504CECB: accept_resolve_cb (neat_core.c:36

[2016-12-21 10:50] dreibh opened #242 "Lots of connections on multi-homed machine"
I am testing with a small HTTP GET example on a multi-homed machine (5x IPv4, 5x IPv6 + one private IPv4 address in a test network). Using NEAT with its default settings, a neat_open() creates a burst of simultaneous TCP and SCTP connections to the remote endpoint (SCTP enabled in the properties, remote side has IPv4+IPv6), since it tries with all source IP addresses.

There should be a reasonable

[2016-12-21 14:21] dreibh opened #244 "More specific error codes for neat_open() call?"
Is it possible to get more specific error codes from the neat_open() call processing? For implementing nsa_connect(), it would be useful to be able to differentiate between connection refused, no route to host, timeout, etc.. However, the on_error() callback does not get any information on the kind of error.

I also noticed that a connect timeout results in on_error(), not in on_timeout(). The on_

[2016-12-21 14:25] adventureloop opened #245 "pm example crashes"
Running the example from policy/README.md crashes and leaves the pm in an infinite loop. It looks to be comparing incompatible types. Is this a bad set of config files, or should the pm gracefully handle this is some way?

     [ERROR]: Exception in callback _SelectorSocketTransport._read_ready()
     handle: <Handle _SelectorSocketTransport._read_ready()>
     Traceback (most recent call last):

[2016-12-21 14:34] adventureloop commented on #245
Well,

It has stopped crashing. I have no idea what is going on.

[2016-12-21 14:37] bozakov commented on #245
Weird - I wasn't able to reproduce the error. Please ping me if you run into the issue again.

[2016-12-21 15:07] adventureloop commented on #245
Progress!

`request.json` is modified by socat if the pm doesn't crash. If I just use the request.json from the repository I can get the crash behaviour again.

[2016-12-21 16:03] tuexen commented on #244
Interesting prefix...

[2016-12-22 13:43] dreibh commented on #239
I added the missing functionality in form of a new function: neat_getlpaddrs(). The corresponding pull request is here: https://github.com/NEAT-project/neat/pull/248 .

[2016-12-22 22:25] bagder opened #252 "neat_core.c build failure: implicit declaration of function ‘sctp_getladdrs’"
[  1%] Building C object CMakeFiles/neat.dir/neat_core.c.o
/home/daniel/src/neat/neat_core.c: In function ‘neat_getlpaddrs’:
/home/daniel/src/neat/neat_core.c:2107:20: error: implicit declaration of function ‘sctp_getladdrs’ [-Werror=implicit-function-declaration]
             return sctp_getladdrs(flow->socket->fd, 0, addrs);
                    ^~~~~~~~~~~~~~
/home/daniel/src/neat/neat_core.c:21

[2016-12-22 22:26] bagder commented on #252
ping @dreibh (your commit)

[2016-12-22 22:26] weinrank commented on #252
Yeah, I'm fixing it right now...

[2016-12-22 22:43] weinrank commented on #252
fixed by #253

[2016-12-22 22:43] #252 closed

[2016-12-23 13:24] bagder opened #254 "neat_free_ctx SIGSEGV"
There's some sort of race condition when shutting down a context that I just stepped right into. I bet it isn't terribly easy to repeat but I have a stack trace out of it and reading the code backs up my observation.

1. call `neat_free_ctx()`
2. neat iterates over each flow and calls `neat_free_flow()` for each
3. in neat_free_flow, `neat_free_candidates()` is called which yeah, frees "candidates

[2016-12-23 13:50] bagder commented on #254
Happens with the very latest git too, commit d435ef1d8cb as of right now.

[2017-01-06 13:59] ruengeler commented on #245
I observed a similar problem when running the example. The program goes in an infinite loop.

### [ERROR]: Exception in callback _SelectorSocketTransport._read_ready()
handle: <Handle _SelectorSocketTransport._read_ready()>
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/asyncio/events.py", line 125, in _run
    self._callback(*self._args)
  File "/usr/local/lib/python3.5/async

[2017-01-09 11:01] bozakov commented on #245
@adventureloop I updated the `socat` syntax and example JSON file which was using an outdated format. Does that solve the issue? @ruengeler Could you please check you're still getting the error?

[2017-01-09 11:36] adventureloop commented on #245
I think that addresses it for me, I will leave it to  @ruengeler to respond and close.

[2017-01-09 12:07] ruengeler commented on #245
I still get the infinite loop, which now ends with:

File "./neatpmd.py", line 141, in process_request
    print(policy.term_separator("processing request %d/%d" % (i + 1, len(requests)), offset=0, line_char='\u2500'))
UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-63: ordinal not in range(128)

[2017-01-09 12:50] bozakov commented on #245
@ruengeler this seems to be an issue with UTF-8 encoding in your terminal, I'll see if how can get around it.

[2017-01-09 14:16] ruengeler commented on #245
I switched the parameters offset and line_char according to the signature in term_separator.
print(policy.term_separator("processing request %d/%d" % (i + 1, len(requests)), line_char='-', offset=0))
Afterwards, it worked.

[2017-01-10 10:00] #245 closed

[2017-01-11 07:02] karlgrin commented on #254
@bagder I suspect that this segmentation fault is due to a miss of mine in stopping the timers for delayed connection attempts in HE when a flow is freed: The "on_he_connect_req" is called for candidates that have a priority that forces them to wait until they are initiated. If a flow is freed when it has outstanding delayed connection attempts, it will definitely lead to your series of events, an

[2017-01-11 13:29] perhurt opened #257 "assertion failed when all connection attempts fail"
When trying to connect using a protocol (or protocols) not supported by the remote peer an internal assertion fails.

Steps to reproduce (example):

1.  Build the attached, SCTP-enabled, web client program ([client_sctp_http_get.c.zip](https://github.com/NEAT-project/neat/files/698970/client_sctp_http_get.c.zip))
2. Try to connect to a machine that does not support SCTP

coredump:
[code]

[2017-01-13 11:53] ddragana opened #258 "Are porpertyMask, etc. still used?"
I do not see that the following variables are still used. Are they?

    uint64_t propertyMask;
    uint64_t propertyAttempt;
    uint64_t propertyUsed;

and

#define NEAT_PROPERTY_OPTIONAL_SECURITY           (1 << 0)
#define NEAT_PROPERTY_REQUIRED_SECURITY           (1 << 1)
#define NEAT_PROPERTY_MESSAGE                     (1 << 2) // stream is default
#define NEAT_PROPERTY_IPV4_REQUIRED

[2017-01-13 12:23] tuexen commented on #258
I don't know. But I would like to know how to request features like the above via the json format...
@bozakov Can you provide a hint?
So how can I require a message oriented IPv4 based service? This should provide SCTP and UDP candidates (and UDPLite, if we support it, don't know)
@adventureloop Do we support UDPLite (on platforms supporting UDPLite)?

[2017-01-13 13:24] bozakov commented on #258
@tuexen there are several options:

1. The JSON request explicitly specifies the desired properties, e.g.,
`{"transport": {"value": "SCTP"}, "remote_name": {"value": "google.de"}}`
  Note, that the transport value can also be a set, if the user is fine to use any of these protocols, e.g.: `{"value": ["SCTP", "UDPLite"]}`
  In the above examples I've omitted the default score and precedence values

[2017-01-13 14:57] karlgrin commented on #254
@bagder I have tried to fix this in branch karlgrin/issue_254. Since I have not been able to recreate your scenario, I would appreciate if you could try my fix out.

[2017-01-13 16:55] ddragana opened #259 "size_t buffer_count; not used"
size_t buffer_count; is not use any more.

[2017-01-16 10:16] bagder commented on #199
If a timeout is necessary for driving neat, the `neat_get_backend_timeout()` really ought to return a correct (very short) value instead of 1000 milliseconds.

[2017-01-16 10:22] bagder opened #261 "logging: thread safety issues"
Neat is really not usable in a multi-threaded situation right now, since the logging options, timing, file etc are all global variables that are set and used without any locking. And `neat_log_init()` itself is even called from within `neat_init_ctx()` so running two separate neat threads will effectively ruin each others log timers and options. This fact is also not documented anywhere.

I propos

[2017-01-16 10:53] bagder commented on #261
`neat_log()` is currently invoked on 563 places within neat itself. I played with the idea to make it a macro that passes in `ctx` automatically as its first argument to avoid having to change all 563 instances, but A) we don't have a good naming standard so the context isn't called just ctx everywhere and B) there's a set of functions that use logging but doesn't have/use a context that we would

[2017-01-17 07:56] bagder commented on #254
Fixed in commit d683648ff1d

[2017-01-17 07:56] #254 closed

[2017-01-17 12:02] #259 closed

[2017-01-20 08:00] bagder commented on #261
Issue to solve: `usrsctp_init`is called [here](https://github.com/NEAT-project/neat/blob/master/neat_usrsctp.c#L95) and it passes in a function pointer to a log call that's hard to translate into something using a context.

The only docs I found that describes `usrsctp_init()` is [this](https://github.com/sctplab/usrsctp/blob/master/Manual.md) but it doesn't match the prototype we're using!?

[2017-01-20 08:11] tuexen commented on #261
The documentation is outdated, needs to be fixed. `usrsctp_init` takes a function pointer to a logging function. It doesn't know about contexts or such things...

[2017-01-20 08:11] bagder commented on #261
And no possibility to pass in a private pointer?

[2017-01-20 09:10] tuexen commented on #261
No, unfortunately not. It is just a wrapper around a `printf` function. See [ekr_loop.c](https://github.com/sctplab/usrsctp/blob/master/programs/ekr_loop.c#L259), for example.
It is introduced to provide a way for Chrome and Firefox to include the sctp debug output in their logging environment. No context was required there. See [DataChannel.cpp](https://dxr.mozilla.org/mozilla-central/source/netw

[2017-01-20 09:37] bagder commented on #261
Well that's just wrong way to do callbacks. I had to disable the sctp logging for my pull request...

[2017-01-20 09:47] tuexen commented on #261
I'm a bit hesitant to change the API, since it will break Chrome and Firefox and other users... I'm wondering why you would need a context in a logging function. At least for Firefox and others it seems to work fine.

[2017-01-20 09:50] bagder commented on #261
I've tried to explain the issue above and just reading the code you'll spot this quite easily. Thread-safety and multiple-contexts per thread.

Well perhaps, but... Even those applications would often prefer to do the logging using their own built-in logging systems rather than to just have a crude printf-logging thing. In your Firefox case I suppose there's only one context so Firefox can get awa

[2017-01-20 10:07] tuexen commented on #261
Any why can't you use a global mutex in the logging function to get the output right if you need it?
I guess this is done in `PR_LogPrint` since it can be called from multiple threads or am I missing something?
We could add another debug callback with a different signature and provide a new function to register it. This would avoid changing the signature of `usrsctp_init`.

[2017-01-20 10:24] tuexen commented on #261
Reading the whole thread:

Regarding multithreading: We need to make a clear statement for neat in general, not only for logging.
I think we currently do not protect anything by mutexes...

For logging, I think this comes down to the question: Is the logging "per library", which means we could use global variables (and a global mutex to protect the resources for supporting multithreading) or we co

[2017-01-20 12:05] bagder commented on #261
Yes, that's basically it.

The logging per-context isn't strictly necessary for me, but since I think globals in a library is a recipe for disaster, we must "anchor" the options somewhere (where would we set the logging options?) and the context object seemed like a decent fit. But having the ability to set the level per context may actually be useful in itself too.

My personal view is that makin

[2017-01-20 13:23] tuexen commented on #261
The only problem I have with per-context logging is that how to log things that are global to the library? The SCTP stack is one thing but others come up to my mind... I guess several of the places you couldn't find a context to pass in the logging function are possibly incarnations of this.
So we might want to allow to pass a context in for filtering or so, but I guess we need also the possibilit

[2017-01-20 13:48] bagder commented on #261
The API is made to work with contexts and flows to a rather high degree. Whatever you do with neat, there is a context that the application passes in. There's virtually nothing going on in neat that is "global" or truly disconnected from context. The places in the code where there's no context in neat right now, the ones that my patch comments out, I'm sure in almost all cases *could* get the cont

[2017-01-20 13:55] bagder commented on #261
That's a rather naive assumption I'd like to erase. Two apparent use cases:

1. One event loop per thread for maximum CPU usage
2. Legacy apps already using multi-threading that move to neat, using ` RUN_ONCE`

[2017-01-20 14:06] tuexen commented on #261
One thing that is once for the library and not once for a context is the sctp stack. There seems currently be a bug by calling `usrsctp_init` from `neat_init_ctx`, but I guess the neat library has not been tested well with multiple contexts.
Another thing could be (I'm not sure) the management of the IPC to the policy manager.
@bozakov Is the IPC between NEAT and the policy manager per context?
I

[2017-01-20 14:09] bagder commented on #261
So having a "per-context" logging doesn't require any protection

Correct, I use a whole bunch of contexts in parallel. Right now their logs are all messing up each others.

[2017-01-20 14:17] weinrank commented on #261
Hey Daniel,

from my perspective it would be a good solution to have a function which initializes the neat library once.
In this function we initialize the logging (logfile and level) as well as the sctp userland stack once.

As you already mentioned: we have several functions without a context which makes things tricky...

[2017-01-20 14:30] tuexen commented on #261
I just saw that `neat_log_init` is called in `neat_init_ctx`, which is the same bug as calling there `usrsctp_init`.
If we add something lie `neat_init`, which is called only once and will be used to initialise the logging stuff (and usrsctp), we still have the problem the multiple threads will write to the same fd. But we have  that with your solution, too. So would calling `neat_log_init` only o

[2017-01-20 14:44] bagder commented on #261
I would prefer that we'd lift this discussion and talk about how a library like neat *should* work rather than talking about my specific circumstances.

Moving out the init would make all contexts within the same thread capable of using the same log file fine, but then the delta timing withing the log would be based on the init and thus no longer that relevant to each individual context. So yes, I

[2017-01-20 14:56] bagder commented on #261
I think we should, but it wouldn't solve all the issues. It would be similar to @tuexen's idea of not calling the log init from within `neat_init_ctx`.

We should have such a function already for other purposes: namely OpenSSL initialization that's only necessary to once process, not once per context as we do now. It is even [discouraged to get called without using the OpenSSL mutex locks](https:/

[2017-01-20 14:58] tuexen commented on #261
We can talk about how neat should work, especially with relation to multi-threading... But I guess this issue is not the right platform. That is why I suggested to bring it up in Paris... Or do you think this issue is the right place?

My suggestion was to fix bugs we now have, since neat is broken when used with multiple contexts, not matter if it is used single-threaded or multi-threaded. That i

[2017-01-20 15:05] kristrev commented on #261
I don't have so much to contribute here, but since I was the one who implemented the version of neat_init_ctx, neat_ctx, etc. My intention was that `neat_init_ctx()` would initialize one `neat_ctx`, and that each `neat_ctx` would be independent so that for example one thread would have one `neat_ctx`. At least in my mind, this is the only pattern that makes sense.

[2017-01-20 15:06] bagder commented on #261
For me personally, I'm fine with talking about this wherever, I brought it to the mailing list too but for some reason we never talk about code there to any particular extent. But sure, if there's time for it then we can certainly discuss it in Paris.

I use multiple contexts per thread (as I'm sure many typical legacy apps converting to neat will do). The multi-threading issues have not bitten me

[2017-01-20 15:15] bagder commented on #261
... and such a callback would need to be stored somewhere. Like in a context perhaps? :-)

[2017-01-20 15:26] tuexen commented on #261
Suggestion:
Felix implements `neat_init`, which calls `usrsctp_init`, `neat_log_init`, and `neat_security_init`.
@bagder @weinrank : OK?

This fixes bugs and improves things for you.

Then there are three issues left:
1. Have a "per-context" logging or a "global" one?
2. How to deal with multi-threading?
3. How to support external logging systems (for example the one Firefox provides)?

Regarding

[2017-01-20 15:33] bagder commented on #261
It would be less work if we'd do it in a different order:

1. merge my patch
2. make sure there's a context passed to a few places where it could (discuss how we handle the remaining cases)
3. create the global init/free functions (and document it not being thread-safe and that it used be used only once per process)

This would then make it really ease to provide an API (and associated code) that

[2017-01-20 15:33] bagder commented on #261
Surely it *is* related to a context, it just doesn't pass the context pointer to the log function?

[2017-01-20 17:38] tuexen commented on #261
I don't see how the stack is related to a context. A set of flows might be, but not the stack as a whole.
Which context would own the raw socket used by all SCTP associations (of all flows of all contexts)
Therefore the stack doesn't provide the functionality of logging on a per end-point granularity.
You only turn it on when you are debugging and then you might be interested in a lot of things. Y

[2017-01-20 17:54] weinrank commented on #261
Okay, after thinking about the logging function for a while, I think we should have it per context.

### Pros for context
* time elapsed per ctx
* log level per ctx
* we can distinguish the different ctxs - this is one of the most important pros for me

### Cons against context
* not all functions have a ctx (yet)
* more coding afford

[2017-01-20 21:28] weinrank commented on #258
I've had a look in the code, it seems that the property masks aren't used any more.

If no one complains, I'll remove the next week / in Paris.

[2017-01-20 21:29] weinrank commented on #257
I'll have a look at it next week.

[2017-01-20 21:54] bagder commented on #261
Not the stack itself perhaps, but all network activities the stack is doing are associated with flows and contexts as without them the stack wouldn't be run!

[2017-01-21 21:49] bozakov commented on #261
@tuexen The PM IPC is currently agnostic to contexts (a single instance of the PM replies to the Unix socket over which the request was received).

[2017-01-22 09:28] tuexen commented on #261
@bagder Not all activities are related with flows and for some activities you don't know the flows. For example if you receive a packet not being related to any flow, you would have to send a packet containing an ABORT chunk (the equivalent of a TCP reset). One example for the case where you don't know the flow yet is all the packet handling done before you found the flow. Checking checksums, doin

[2017-01-22 10:00] bagder commented on #261
Right, but I said *flows and contexts* and since there's a context pointer in the `neat_start_event_loop()` call, at least that context would be associated with the SCTP traffic.

On the neat library's side, isn't that communication is associated with a context? Or is the PM setting "global" variables?

[2017-01-22 20:37] weinrank commented on #17
@kristrev can we close this issue?

[2017-01-22 20:38] weinrank commented on #22
@kristrev now? :smiley:

[2017-01-22 20:38] #94 closed

[2017-01-23 14:52] bagder commented on #261
#263 was merged

[2017-01-23 14:52] #261 closed

[2017-01-23 14:59] bagder opened #266 "A global library init function?"
(Discussion forked off [a sub-thread](https://github.com/NEAT-project/neat/issues/261#issuecomment-274082143) in #261)

I think there's case for adding global library init and free functions to do global (single) initializations and then the corresponding cleanups.

OpenSSL has an initialization that's only necessary to do once per process, not once per context as we do now. It is even [discourage

[2017-01-23 17:06] kristrev commented on #17
Will have a look at this and the other issue during the telco. Right now I
am on holiday :)

Kristian

On Sun, 22 Jan 2017 at 21:37, Felix Weinrank <notifications@github.com>
wrote:

[2017-01-23 22:57] mcmanus commented on #266
this can be done quietly for the user though, right? through init_once and
ref counting?

On Mon, Jan 23, 2017 at 11:59 PM, Daniel Stenberg <notifications@github.com>
wrote:

[2017-01-23 23:06] bagder commented on #266
It can only be done hidden in a safe manner if protected by a mutex though, and to protect with a mutex we'd need to add a pthread (or equivalent) requirement...

[2017-01-23 23:20] weinrank commented on #266
Mh, is it useful to do this quietly?

I think we should involve the user for these steps.
For example when initializing the usrsctp library, it is possible to set a UDP encapsulation port.
IMHO this should the configurable by the user.

[2017-01-23 23:21] mcmanus commented on #266
thread lib seems like an ok requirement to me in 2017.. if you really don't
want it you can build an atomic spinlock for arm and x86 easily enough for
this 1 case and have an architectural dep  instead.

On Tue, Jan 24, 2017 at 8:06 AM, Daniel Stenberg <notifications@github.com>
wrote:

[2017-01-23 23:25] mcmanus commented on #266
the problem with explicit global init is that it doesn't necessarily embed
well into other libraries.. the library can't really tell if it has been
init'd already/concurrently what not..

On Tue, Jan 24, 2017 at 8:20 AM, Felix Weinrank <notifications@github.com>
wrote:

[2017-01-23 23:37] bagder commented on #266
It should also be noted that modern OpenSSL (>= 1.1.0) already depends on pthreads itself, so it isn't that far fetched I think.

[2017-01-23 23:40] bagder commented on #266
If we have it mutex protected, we can have it done silently **if not** already done explicitly by the user. So we can in fact have it both ways. If we want to.

[2017-01-27 10:40] perhurt opened #270 "segmentation fault due to new neat_log"
When trying to run any example application, e.g. 'client_http_get' it segfaults due to ctx == NULL in `on_candidate_resolved`. This problem emerged after 58ff336d

Steps to reproduce (example):
`./client_http_get www.dn.se > /dev/null 2>&1`

coredump:
[code]

[2017-01-30 16:30] naeemk commented on #258
@tuexen there is a basic UDPLITE support as of 001b1ea and a support for UDPLITE checksum coverage as of 702a640.

[2017-01-31 10:17] adventureloop opened #272 "on_all_written Should always be called for a neat_write when the callback is set"

[2017-01-31 10:26] naeemk commented on #17
@kristrev ping :)

[2017-01-31 13:51] kristrev commented on #17
This is a non-issue and can be closed. We update the liftetime of addresses and the resolver will not use deprecated addresses. I see that we should probably keep track of when we last update timer so we can compute the current timer value, but that is not something I am going to do now.

[2017-01-31 13:51] #17 closed

[2017-01-31 13:57] weinrank commented on #272
example?

[2017-01-31 13:59] kristrev commented on #22
Nah, still not causing any problems :)

[2017-01-31 13:59] #22 closed

[2017-02-01 10:52] bozakov commented on #272
If you could have a loot at the socket_options branch (#269) there is an example `examples/client_data.c`. If line 245 is uncommented `//ops.on_all_written = on_all_written;
` on_all_written never gets called.

[2017-02-01 10:58] adventureloop commented on #272
@weinrank discussed this yesterday. `on_all_written` is only triggered when neat has had to buffer the write. We think the callback should always be triggered after a write, when the callback is set.

[2017-02-01 10:59] mcmanus commented on #272
what tom says makes sense to me.

On Wed, Feb 1, 2017 at 11:58 AM, Tom Jones <notifications@github.com> wrote:

[2017-02-01 13:35] #26 closed

[2017-02-01 13:35] #215 closed

[2017-02-01 13:35] #218 closed

[2017-02-01 13:36] #258 closed

[2017-02-01 13:36] #270 closed

[2017-02-01 13:41] #257 closed

[2017-02-01 13:42] #239 closed

[2017-02-01 13:44] #42 closed

[2017-02-01 13:45] #101 closed

[2017-02-01 13:46] #110 closed

[2017-02-01 13:47] #189 closed

[2017-02-01 13:47] #166 closed

[2017-02-01 13:47] #133 closed

[2017-02-01 13:48] #217 closed

[2017-02-01 13:48] #224 closed

[2017-02-01 13:48] #236 closed

[2017-02-01 13:50] weinrank commented on #235
@dreibh update PR repo please.

[2017-02-02 09:42] dreibh commented on #244
*N*EAT *S*ocket *A*PI -> nsa.

[2017-02-02 09:43] bagder opened #282 "Happy eyeballs ipv6 vs Firefox"
Using the test URL http://bsd10.fh-muenster.de/cgi-bin/he and running Firefox-NEAT on an dual-stack network (like for example the Mozilla Paris wifi), NEAT always[*] picks the IPv4 connection.

If I run a "normal" Firefox on the same network, it always[*] picks an IPv6 connection!

[*] = I've reloaded the page many times in both setups and it seems to pick the same one in a reproducible manner

[2017-02-02 20:17] weinrank commented on #244
http://weknowmemes.com/wp-content/uploads/2013/06/nsa-meme.jpg

[2017-02-02 20:23] weinrank commented on #244
![img_6875](https://cloud.githubusercontent.com/assets/6726222/22566825/c6350f9a-e98d-11e6-9eca-43029a41d493.JPG)

[2017-02-03 08:21] bagder opened #283 "Resolve 'localhost'"
The resolver functionality in neat is not handling `localhost` the way a user would presume, making neat_open() to "localhost" not use 127.0.0.1 or ::1 as most would presume.

This could be fixed by A) parsing `/etc/hosts` or B) providing a hard-coded response for this specific host name.

[2017-02-03 08:27] bagder opened #284 "client_http_run_once segmentation fault"
$ gdb --args ./client_http_run_once -n 20 127.0.0.1

Running on Linux with an Apache httpd server on localhost (TCP only). It will stop with the following lines:

[code]

gdb has the following to say about the 20 top stack frames (showing a recursive behavior):

[code]

[2017-02-03 12:35] #284 closed

[2017-02-03 13:05] bagder commented on #244
`neat_open` can't determine most of those errors since they will happen asynchronously at a later point, but `on_error` could of course be extended to get more error information.

[2017-02-09 14:33] bagder opened #288 "NXDOMAIN takes 30 seconds to return error"
# I used

`./client_http_get this-site-doesnt-exist.haxx.se`

# I expected

The code to exit quickly since the host name does not exist. nslookup and dig both return NXDOMAIN for it instantly. Instead it takes 30 seconds for it to exit.

[2017-02-09 15:27] bagder opened #290 "neat_getlpaddrs requires free() on data returned by library"
Generally it is an anti-pattern to return memory over to the application and require that the application calls `free()` on it.

First, it removes the ability for the library to use its own malloc system, possibly with debug hooks, leak detection and more. Then, it prevents neat to work properly on systems that by default use different memory allocating systems or ownership in libraries vs applica

[2017-02-10 15:44] bagder opened #291 "RUN_ONCE and many flows fails"
`./client_http_run_once -n 80 bsd10.fh-muenster.de`

and

`./client_http_run_once -n 80 localhost`

both show the same symptom (bsd10 is at a 42ms RTT from my test machine). It quickly handles the first 55-56 flows and then gets stuck on 25 or 24 flows remaining, spending 100% CPU time until after some time `on_error` is called and the application exits.

[code]

Running on Linux kernel 4.9.2, no

[2017-02-10 15:45] bagder commented on #288
In addition, when I mistakenly add crap to the host name, like passing in `http://example.com` instead of just `example.com`, that too takes a long time...

[2017-02-13 14:49] weinrank commented on #291
Hey Daniel,
I'm facing the same problem and will try to solve it.

[2017-02-14 12:28] weinrank commented on #291
I found the problem, it was a bug in my application.

[2017-02-16 10:27] bagder opened #292 "accept_resolve_cb(): over-eagerly calling neat_io_error() is problematic"
When I run `./server_http` on my Linux machine (kernel 4.9.6), it immediately exits with an error about 3 times out of 4. Like this:

[code]

The `on_error` callback that exits the program gets called from `neat_io_error()` that is called from within `accept_resolve_cb()`. I can thus make the example much more stable by avoiding to call neat_io_error() there, but I'm not entirely sure this is the

[2017-02-16 18:43] weinrank commented on #292
@kristrev 😄

[2017-02-20 19:02] kristrev commented on #292
I just checked and I did not add the call to neat_io_error(), so I don't know the intentation :) It was Øystein that added the call, but since he is longer part of the project and if the code works fine with Daniel's fix then maybe we should just go for it?

[2017-02-21 09:05] bagder commented on #292
Thanks, I actually already committed it (by mistake) in a9f302e1d523d926! Case closed for this then.

[2017-02-21 09:05] #292 closed

[2017-02-22 07:58] bagder opened #293 "The buildbot page is down"
Go to http://buildbot.nplab.de:28010/waterfall

It shows a huge stacktrace instead of the actual buildbot table and build results. The start of it shows:

 twisted.internet.defer.FirstError: FirstError[#1, [Failure instance: Traceback: <class 'sqlalchemy.exc.OperationalError'>: (OperationalError) disk I/O error u'SELECT buildrequests.id, buildrequests.buildsetid, buildrequests.buildername, buildre

[2017-02-22 08:26] weinrank commented on #293
Looks like the HDD is full, will fix it until tomorrow.

[2017-02-22 16:16] weinrank commented on #293
Disk was full, should be fine now.

[2017-02-22 16:16] #293 closed

[2017-03-20 13:52] dreibh opened #297 "Status of TLS support?"
How is the status of TLS support in NEAT? As far as I can see, the only server example supposed to support TLS is server_echo.c. However, a call of
"server_echo -P NEAT_PROPERTY_REQUIRED_SECURITY,NEAT_PROPERTY_TCP_REQUIRED,NEAT_PROPERTY_IPV4_REQUIRED -v 2 -p cert.pem"
results in:
Unable to read properties from NEAT_PROPERTY_REQUIRED_SECURITY,NEAT_PROPERTY_TCP_REQUIRED,NEAT_PROPERTY_IPV4_REQUIRED.

[2017-03-20 14:03] dreibh commented on #290
Sounds reasonable. For neat_getlpaddrs(), I will add a corresponding function neat_freelpaddrs().

[2017-03-20 14:04] dreibh commented on #290
I created a pull request: https://github.com/NEAT-project/neat/pull/298 .

[2017-03-23 13:16] dreibh commented on #283
A. If neat_open() ignores /etc/hosts, it will also cause problems with user-configured hostnames in /etc/hosts.

[2017-03-30 06:32] weinrank opened #299 "Buildbot down"
Update went wrong, will fix it soon. 😄

[2017-03-30 20:39] weinrank commented on #299
Up and running again...

[2017-03-30 20:39] #299 closed

[2017-03-31 09:19] dreibh opened #300 "Fedora 26 build issue"
/builddir/build/BUILD/libneat-0.0.1~td132/neat_core.c:996:13: error: this statement may fall through [-Werror=implicit-fallthrough=]
             neat_notify_aborted(flow);
             ^~~~~~~~~~~~~~~~~~~~~~~~~
/builddir/build/BUILD/libneat-0.0.1~td132/neat_core.c:1000:9: note: here
         case SCTP_COMM_UP: // Fallthrough:
         ^~~~
/builddir/build/BUILD/libneat-0.0.1~td132/neat_core.c:100

[2017-03-31 09:22] dreibh commented on #300
The code is:

    switch (sac->sac_state) {
...
        case SCTP_COMM_LOST:
            // Draft specifies to return cause code, D1.2 doesn't - we
            // follow D1.2
            neat_log(ctx, NEAT_LOG_DEBUG, "%s - state : SCTP_COMM_LOST", __func__);
            neat_notify_aborted(flow);
            //break;

            // Fallthrough:
        case SCTP_COMM_UP: // Fallthrough:

[2017-04-03 10:17] odonnellf opened #301 "Bug in neat_accept: tutorial bug in minimal_server.c"
New to the team so I'm just becoming familiar with the architecture. When running the minimal_server executable however (the same as that found in the tutorial documentation or in the examples folder), the server will very rarely but occasionally hang up after a call to neat_run_event_cb:

$ ./minimal_server
[ 0.000001][INF] neat_log_init - opening logfile ...
[ 0.000509][DBG] neat_init_ctx
[ 0.00

[2017-04-06 21:41] #201 closed

[2017-04-11 12:58] weinrank opened #306 "client_https_get and let's encrypt"
Hey,

we are trying to request a website via `client_https_get` from a web with let's encrypt certificates - it doesn't work.

When requesting from other web servers, like our www.neat-project.org website, everything works fine.

We tested he `helloworld.letsencrypt.org` and a variety of additional sites.
Any suggestions?
Felix

@ddragana @mcmanus @bagder

[2017-04-11 13:19] bagder commented on #306
The CA cert bundle is "hard code" into tls-trust.c and needs to be updated. Get the latest converted one from https://curl.haxx.se/docs/caextract.html

The more long-term solution is of course to have neat use the system CA bundle for those systems where it can find one at configure/cmake time, or make it possible to point to a file/directory at run-time.

[2017-04-11 16:05] dreibh commented on #306
This is a duplicate of bug #225 .

[2017-04-11 22:18] weinrank commented on #306
@bagder
I've updated to the latest ca-bundle - see #307 - but this does not fix my problem.
Getting pages from websites using let's encrypt still fails.

[2017-04-11 22:22] bagder commented on #306
Ok, then it sounds more like a regular bug somewhere. But I can't really figure out off the top of my head why Let's Encrypt certs would have specific problems...

[2017-04-11 22:30] bagder commented on #306
Reading `neat_security.c` says we do a whole bunch of OpenSSL calls there without checking return code and no logging/printing of them so its not easy to figure out what the problem is.

The call to [SSL_do_handshake()](https://wiki.openssl.org/index.php/Manual:SSL_do_handshake(3)) in particular is weird. As if the socket is blocking, that's a blocking function call that we shouldn't do, and if it

[2017-04-11 22:53] weinrank commented on #306
Okay, got it. Server Name Indication (SNI) support was missing, added by
4e15eba95606064daeea1e4fee3541333e85185b

So it wasn't a problem of let's encrypt ... thx @bagder

And I agree that the tls code needs some improvements.

[2017-04-12 11:42] weinrank commented on #306
Closed by #307

[2017-04-12 11:42] #306 closed

[2017-04-12 16:32] weinrank commented on #290
#298 merged...

[2017-04-12 16:32] #290 closed

[2017-04-19 12:39] weinrank commented on #291
Hey Daniel,

https://github.com/NEAT-project/neat/blob/master/examples/client_http_run_once.c#L110

Here you call `neat_stop_event_loop` - why?
Is this useful if a ctx ist used by several flows?

[2017-04-19 12:46] bagder commented on #291
I honestly can't remember any good reason for that. Possibly I added it during some debug session to see if it help and forgot to remove it... !

[2017-04-19 15:40] #300 closed

[2017-04-19 15:45] #206 closed

[2017-04-23 03:29] jackChengX opened #311 "Support for Deepin Linux"
Is there support for NEAT builds with Deepin Linux (https://www.deepin.org/en/)?

[2017-04-23 03:39] dreibh commented on #311
Deepin Linux 15.4 is based on Ubuntu 16.04 (Xenial Xerus). It is therefore straightforward to add the Ubuntu PPA for the binary package builds:

1. Add the following lines to /etc/apt/sources.list:
deb http://ppa.launchpad.net/dreibh/ppa/ubuntu xenial main
deb-src http://ppa.launchpad.net/dreibh/ppa/ubuntu xenial main

2. Add the public key:
sudo apt-key adv --keyserver keyserver.ubuntu.com --recv

[2017-04-23 03:42] dreibh commented on #311
Note: Deepin Linux 15.3 is based on Ubuntu 14.04 (Trusty Tahr). The Ubuntu 14.04 version of libuv is too old -> NEAT will not work here. You could upgrade to Deepin Linux 15.4.

[2017-04-23 07:38] Cylra opened #312 "Status of MPTCP and CMT-SCTP support?"
How is the status of MPTCP and CMT-SCTP (with libusrsctp) support in NEAT? I would like to be able to make a per-connection choice of MPTCP/TCP or CMT-SCTP/regular SCTP.

[2017-04-23 07:47] MonsterTan opened #313 "Java and Python bindings for NEAT APIs"
Are there Java and Python bindings for the NEAT APIs? We particularly would like to program with the NEAT Sockets API in these languages.

[2017-04-24 02:15] lylzldavid opened #314 "WebRTC over NEAT?"
Are there any running examples for WebRTC over NEAT? I am looking for a very simple video streaming demo with NEAT, in order to test QoS features.

[2017-04-24 04:50] tuexen commented on #314
Integration of WebRTC data channels is planned, but not available yet. However, we don't plan to include the complete WebRTC stack including the media channels. Only the data channels will be supported.

[2017-04-24 23:07] #235 closed

[2017-04-24 23:07] #237 closed

[2017-04-24 23:07] #231 closed

[2017-04-25 08:03] perhurt commented on #282
Is this an issue related to the implementation or just a policy issue? Does Firefox favour IPv6 over IPv4?

[2017-04-26 17:05] weinrank opened #316 "Lifetime of a flow - closing procedure"
Hey all,

imho the documentation is not very clear when it comes to the closing procedure of a flow.
And the examples aren't either... 🤕

**Goal for this topic: An understandable and documented way how the closing procedure works.**
My understanding how this should/can work.

![img_8046](https://cloud.githubusercontent.com/assets/6726222/25444499/ad38914c-2aab-11e7-9ad7-97a4c2d62037.jpg)

# neat_s

[2017-04-27 10:09] mwelzl commented on #316
Hi,

I’m not coding NEAT myself, so my apologies for mistakes. As you know (we talked about this in the past), I generally agree with this - but I have two minor comments below.
I also wonder, will there be a similar discussion for opening?

(is it clear to everyone that opening a flow may *not* by itself cause an “accept”-like event on the other side?)
Because this arrives as email in a strange a

[2017-04-27 10:23] adventureloop commented on #316
This isn't clear to me, how would a recv side NEAT app get the "accepted" flow with a `on_connected` event being triggered?

[2017-04-28 08:31] mwelzl commented on #316
I think on_connected would be triggered anyhow, but it might only happen when the sender sends the first piece of data, not necessarily as a reaction to neat_open. So, the sequence can be:
Sender: open; nothing happens
then, sender: send => this produces a piece of data on the wire, and when that arrives, it’s the first indication to the peer that this new NEAT flow exists, triggering on_connected

[2017-04-28 08:43] adventureloop commented on #316
Okay, this is what I thought you might be getting at. This is the case with UDP where on_connected returns immediately.

[2017-04-30 08:34] mwelzl commented on #316
Ahhh, UDP too, of course!

[2017-05-04 14:08] weinrank commented on #316
We've had an extensive discussion on this topic today, intermediate results:

# neat_close
* closes the the flow, the application is not able to send or receive data via `neat_send` or `neat_receive` after calling this function
* no transmission related callbacks like `on_readable`, `on_writable` or `on_all_written` are called afterwards
* outstanding data in the NEAT's receive and send buffer get

[2017-05-04 14:26] mwelzl commented on #316
This seems to me to reflect an intermediate state of discussion: the agreement we had as we left the restaurant, but not what we started talking about afterwards.
Let’s talk a little more tonight.

In short: I don’t think shutdown can be removed - but let’s try to talk this over before sending many emails about it.

[2017-05-04 16:42] mwelzl commented on #316
Dear all,

Here’s an update of the update, after the discussion Felix and I just had. This is to ensure that data can be reliably transferred with the connection closing right after it.
I’m marking the updates with [MW] inline  (this is the part where you folks understand that I’m typing this from a mail client and not using github ;-)  )

- [MW] 	• if outstanding data in the NEAT's receive and/or

[2017-05-10 08:12] weinrank commented on #313
A Python binding is not on our todo list and the API is not stable yet.

[2017-05-10 08:12] #313 closed

[2017-05-10 08:12] #314 closed

[2017-05-10 08:15] weinrank commented on #312
MPTCP and CMT-SCTP integrated in the master branch.
The prop_mptcp.json and prop_sctp_multihomed.json property files should help.

[2017-05-10 08:28] dreibh opened #319 "Fedora 26/Rawhide build issues when building with usrsctp"
Issue 1:

home/nornetpp/src/neat/neat_core.c: In Funktion »io_readable«:
/home/nornetpp/src/neat/neat_core.c:1280:19: Fehler: Deklaration von »len« überdeckt einen vorhergehenden lokalen Bezeichner [-Werror=shadow]
         socklen_t len;
                   ^~~
/home/nornetpp/src/neat/neat_core.c:1270:15: Anmerkung: verdeckte Deklaration ist hier
     socklen_t len;
               ^~~

Issue 2:

I

[2017-05-10 08:29] dreibh commented on #319
Issue 1 can be solved easily. For the second declaration of socklen_t len:
#if !defined(USRSCTP_SUPPORT)
        socklen_t len;
#endif

[2017-05-10 08:31] dreibh commented on #319
Issue 2 probably needs a check for kernel SCTP headers and an exisiting declaration of sctp_assoc_t within usrsctp.

[2017-05-10 08:54] dreibh commented on #319
I fixed issue 1 as part of pull request #320. The authors of usrsctp need to have a look at issue 2.

[2017-05-11 23:45] #312 closed

[2017-05-11 23:45] #311 closed

[2017-05-11 23:46] #244 closed

[2017-05-11 23:47] #241 closed

[2017-05-23 10:43] #180 closed

[2017-05-23 10:43] #197 closed

[2017-05-25 09:29] bozakov commented on #301
The callback `accept_resolve_cb` in `neat_core.c` _sometimes_ receives a code 2 (NEAT_RESOLVER_ERROR) causing the callback to return with a NEAT_ERROR_DNS, which is seems unhandled.

[2017-06-07 08:47] dreibh commented on #319
Any thoughts on the sctp_assoc_t type conflict?

[2017-06-07 08:52] dreibh commented on #319
If there is interest in a Fedora 26 VM image (OVA file for VirtualBox), I can provide it.

[2017-06-13 21:49] weinrank commented on #301
I've ran into the same error today and it seems that the error is related to the way Linux resolves the locally available IP addresses.

The new listening flow starts "operating" before the local address candidates are available.

@kristrev can you fix this?

[2017-06-14 02:31] kuang1521793003 opened #324 "How to port SCTP application using 1-to-many-style API?"
I am having an SCTP application using the 1-to-many-style API. The libneat-socketapi seems to be not working in 1-to-many-style mode?

[2017-06-14 07:57] dreibh commented on #324
A 1-to-many-style API (UDP-like) is not supported, yet. For SCTP, it should be quite straightforward to realise this functionality. This would make it easy to port SCTP applications (e.g. RSerPool) to NEAT.

However, it may be useful to think about this functionality in a more generic way, and implement some generic message framing (protocol-independent, i.e. particularly also supporting TCP/MPTCP

[2017-06-14 12:54] kristrev commented on #301
Please provide steps for how to reproduce the issue and I will take a look.

Kristian

On Tue, 13 Jun 2017 at 23:49, Felix Weinrank <notifications@github.com>
wrote:

[2017-06-14 13:03] weinrank commented on #301
[code]

Output on my Ubuntu 17.04 machine:
[code]

There are no listening sockets open.
Sometimes this happens, sometimes not - seems to be a race condition.

[2017-06-14 13:24] kristrev commented on #301
Great, thanks! Will take a look before or in Cork. Hopefully something
trivial.

Kristian

On Wed, 14 Jun 2017 at 15:03, Felix Weinrank <notifications@github.com>
wrote:

[2017-06-14 17:58] kristrev commented on #301
The code error is triggered by @ruengeler in commit ea6d6c220d89db082bcd8f454ad07f28f0d6f5f8, most likely because commit was only tested properly on BSD and BSD has synchronous address reading (if I remember correctly).

Problem is that the commit sets the literal timeout to 1ms (down from 1000), which is too short for the source address list on Linux to be popluated (it is async). I will implemen

[2017-06-14 19:05] kristrev commented on #301
See PR #325 for the fix. There seems to be some issue with buildbot, so waiting for the buildbot to be back and tests to be run before merging.

[2017-06-17 12:26] kuang1521793003 opened #326 "MPTCP support?"
I am using libneat-socketapi . Can it support MPTCP ? How to turn on MPTCP ? How to configure MPTCP congestion control, path manager, and buffer sizes?

[2017-06-17 12:31] kuang1521793003 opened #327 "NEAT on Windows"
Is it possible to use NEAT under Windows? Particularly, would it be possible
to use NEAT under Windows to get MPTCP support?

[2017-06-19 05:19] jackChengX opened #329 "CMT-SCTP support?"
Is it possible to use CMT-SCTP when libneat is built with libusrsctp? How to turn on CMT-SCTP? How to set congestion control algorithm?

[2017-06-19 05:20] jackChengX opened #330 "NEAT with libusrsctp in NorNet?"
libneat in NorNet does not provide support for libusrsctp. Could you add support?

[2017-06-19 05:23] jackChengX opened #331 "How to configure MPTCP?"
I am using libneat-socketapi. How to configure MPTCP congestion control, path manager, and buffer sizes? nsa_setsockopt() does not work.

[2017-06-19 05:45] MonsterTan opened #332 "MPTCP support?"
Neat is the smart choice of the transport layer protocol. Can I make an application use MPTCP? How to use neat to set up an application to use MPTCP?

[2017-06-19 07:39] Cylra commented on #297
Is there any news on TLS support in NEAT? Do you have a working example for the server side?

[2017-06-19 07:52] Cylra opened #333 "SCTP support on Windows?"
Can it run NEAT under Windows? Particularly, how to use NEAT with libusrsctp under Windows to get SCTP support?

[2017-06-19 08:06] bagder commented on #327
The README clearly states:

**NEAT supports FreeBSD, Linux, OS X and NetBSD**

[2017-06-19 08:06] bagder commented on #333
Dup of #327

[2017-06-19 08:06] #333 closed

[2017-06-19 08:07] bagder commented on #332
Dup of #326

[2017-06-19 08:07] #332 closed

[2017-06-19 08:13] MonsterTan commented on #332
Sorry, I don't understand what your meaning, can you explain me clearly?
https://github.com/bagder

[2017-06-20 08:52] bagder commented on #332
This exact same question is already asked in the other issue.

[2017-06-20 12:16] #316 closed

[2017-06-20 12:16] weinrank commented on #297
Fixes by #334

[2017-06-20 12:16] #297 closed

[2017-06-20 12:17] #327 closed

[2017-06-20 12:17] weinrank commented on #291
Should be fixed by #334

[2017-06-22 06:27] MonsterTan commented on #332
yes, But I still did not get the answer when I click the link that links to me again.
https://github.com/bagder

[2017-06-22 06:41] bagder commented on #332
There is no answer there. That's just the same question asked again.

[2017-06-22 09:02] MonsterTan commented on #332
ok, Now our group want to development an application(may about video or live stream, actually I am not sure.),which use MPTCP protocol managed by NEAT. However,  We may get some problem(many errors occur). So did you have developed any example for NEAT? Can you show us any example? Thx!
https://github.com/bagder

[2017-06-22 09:08] bagder commented on #332
I've referred you to the open issue #326 about MPTCP because this was the same question asked again. I did not respond to the #326 issue since I don't know the answer. You highlighting me many times doesn't make me know the answer more.

Now you're adding more questions about MPTCP in this **closed issue**, I would advice against that. If you want to clarify what more about the MPTCP the issue is

[2017-06-24 05:22] MonsterTan commented on #332
Okay, thanks for your advices. I am sorry for bothering you.

[2017-06-26 09:27] perhurt commented on #332
MPTCP is supported by NEAT in the same way as other in-kernel transports, e.g., like TCP. Currently, however, you need to run NEAT on a mptcp-enabled Linux kernel to be able to use MPTCP.

[2017-06-26 17:30] naeemk commented on #332
Can we have a clear example of how this works starting from NEAT API
properties, to policy/profile files, on an MPTCP-enabled Linux kernel? any
sample code snippet/example?

On Mon, Jun 26, 2017 at 11:27 AM, Per Hurtig <notifications@github.com>
wrote:

[2017-06-27 05:47] perhurt commented on #332
See #326 for an example

[2017-06-27 05:49] perhurt commented on #326
This is a minimal example of a http client, based on `socketapi/examples/httpget.cc`:

[code]

[2017-06-28 14:18] #326 closed

[2017-06-28 14:19] naeemk commented on #331
does #326 address your question?

[2017-06-28 14:19] #331 closed

[2017-06-28 14:20] naeemk commented on #324
@dreibh: any update from Cork on this?

[2017-06-28 14:21] naeemk commented on #301
@kristrev: can this be closed?

[2017-06-28 15:52] #301 closed

[2017-06-29 11:58] vennand opened #339 "client_http_get fails setting socket option TCP_NODELAY"
Call to setsockopt(TCP_NODELAY) failed

./client_http_get -u /cgi-bin/he -v 2 bsd10.nplab.de
main - option - log level: 2
1 flows - requesting: GET /cgi-bin/he HTTP/1.1
Host: bsd10.nplab.de
User-agent: libneat
Connection: close

[   0.000001][INF] neat_log_init - opening logfile ...
[   0.000063][DBG] neat_init_ctx
[   0.000479][DBG] neat_new_flow
[   0.000541][DBG] neat_set_property
[   0.000632]

[2017-06-29 11:59] vennand commented on #339
Issue on Ubuntu Zesty 17.04

[2017-06-30 08:45] dreibh commented on #319
A little bit of further debugging on the sctp_assoc_t issue:

The only place where it causes a problem is neat_security.c, if NEAT_SCTP_DTLS is defined (include netinet/sctp.h). Commenting out this include just results in build errors when printing debug output for SCTP_REMOTE_ERROR and SCTP_SEND_FAILED notifications. Also commenting out these debug outputs let the build finish.

[2017-06-30 08:50] dreibh commented on #329
Currently, NEAT does not build under Fedora Core with libusrsctp enabled (see bug https://github.com/NEAT-project/neat/issues/319).

[2017-06-30 10:14] tuexen commented on #319
I think you should not use the kernel SCTP stack and the SCTP userland stack at the same time. Also don't include both headers... That is a current limitation. The userland stack is intended to be a replacement for a kernel stack, not something that can coexist...

[2017-06-30 11:36] dreibh commented on #319
Then, this is probably a general bug of the CMakeLists.txt (not related to Fedora). It seems that both, kernel SCTP and user-space SCTP, are compiled in.

[2017-06-30 11:39] weinrank commented on #319
No, it's not a general bug since you have to enable usrsctp-support manually in the CMake file.

[2017-06-30 11:47] dreibh commented on #319
If USRSCTP_SUPPORT=1 is incompatible with kernel SCTP support, then CMakeLists.txt should disable building with kernel SCTP support.

[2017-06-30 11:55] weinrank commented on #319
PR welcome!

[2017-07-04 22:49] bagder commented on #230
Additionally, NEAT already *updates* the struct in run-time, which thus writes data in the user-provided memory area. That struct can very well be in read-only memory. Not good.

[2017-07-05 12:11] bagder commented on #291
It works differently now, but it's still not working fine.

`./client_http_run_once -n 80 bsd10.fh-muenster.de` on my machine reaches further than before, but it gets stuck and never exits properly. The final lines of the output (before I pressed control-c) is below.

The cutoff line for me: at `-n 65` it works, but at `-n 66` it hangs. The last few lines in the hanging -n 66 case:
[code]
Running

[2017-07-11 12:58] #230 closed

[2017-07-12 15:02] vennand commented on #339
Build and run on VirtualBox Ubuntu 16.04.2
Build, but doesn't run, with same error, on VirtualBox Ubuntu Zesty 17.04

[2017-07-14 10:24] weinrank commented on #339
If the setsockopt call fails, it doesn't cause the application stop working.
If I read the log correctly, NEAT fails to establish a connection after 12 seconds.
So it's simply a connection timeout.

[2017-07-15 07:25] dreibh opened #341 "Compile issue with SCTP_MULTISTREAMING=1"
Compile issue with SCTP_MULTISTREAMING=1:

/home/dreibh/src/neat/neat_core.c: In function ‘io_readable’:
/home/dreibh/src/neat/neat_core.c:1642:33: error: ‘struct neat_flow’ has no member named ‘ownedByCore’
                 multistream_flow->ownedByCore               = 1;
                                 ^
/home/dreibh/src/neat/neat_core.c:1644:61: error: incompatible types when assigning to type

[2017-07-15 07:26] weinrank commented on #341
I'll fix it.

[2017-07-15 15:50] dreibh opened #343 "Feature request: support for setting/obtaining SCTP PPID"
It is currently not possible to set/obtain SCTP PPID when using SCTP transport. It would be useful to have an option for setting/getting the PPID.

[2017-07-15 16:35] weinrank commented on #341
fixed by #342

[2017-07-15 16:35] #341 closed

[2017-07-15 16:36] weinrank commented on #339
closed by #342

[2017-07-15 16:36] #339 closed

[2017-07-15 16:36] #272 closed

[2017-07-15 16:37] #329 closed

[2017-07-17 16:29] naeemk commented on #207
This seems to be fixed now.

`$ grep -r MAX_LOCAL_ADDR .
./neat_core.c:                if (candidate->pollable_socket->nr_local_addr < MAX_LOCAL_ADDR) {
./neat_core.c:                    neat_log(flow->ctx, NEAT_LOG_ERROR, "The maximum number of local addresses (%d) is exceeded", MAX_LOCAL_ADDR);
./neat_internal.h:#define MAX_LOCAL_ADDR      64
./neat_internal.h:   struct sockaddr_storage local_ad

[2017-07-17 16:29] #207 closed

[2017-07-19 11:35] weinrank commented on #343
Will you implement it?

[2017-07-19 11:37] #214 closed

[2017-08-07 10:30] bagder opened #363 "neat_free_candidate: uses already closed file descriptor"
`candidate->pollable_socket->fd` is closed on [neat_core.c:537](https://github.com/NEAT-project/neat/blob/master/neat_core.c#L537) (and not assigned to anything else)

It is then subsequently wrongly accessed and used on [line 550 and onwards](https://github.com/NEAT-project/neat/blob/master/neat_core.c#L555-L560).

Coverity CID 1452602

[2017-08-07 11:34] bagder opened #364 "(travis) CI integration?"
github offers a fancy system for the CI builds to submit back status information so that pull-requests and ordinary pushes can immediately show if they failed to build/test. One such easy-to-integrate with CI is travis-ci, which provides CPU for free for such builds, and it helps running tests and builds automatically on pull requests and thus reducing work for reviewers etc.

Please enable travis

[2017-08-07 11:57] tuexen commented on #364
We are currently using buildbots:
https://github.com/NEAT-project/neat#buildbots-fire
which is integrated in GitHub in a way that commits on any branch trigger a build.
Are there benefits from using travis instead of the buildbot infrastructure we are currently using?

[2017-08-07 12:03] bagder commented on #364
First off, they can (and should?) both be used. No need to switch off anything that works. So adding this wouldn't take away any existing functionality.

There are several benefits to integrate better with github. Some that comes mind:
1. Visual feedback on pull-requests and pushes when breaking things. Reviewers can then mostly ignore PRs until they're at least green.
2. It makes it easy to get a

[2017-08-07 12:21] weinrank commented on #364
Now you're! :)

[2017-08-07 12:22] tuexen commented on #364
There is a reason we don't test arbitrary PRs: Part of the testing is letting clients talk to external servers (for doing run time tests). So we limit this to project members.

Would it help you to become a member of the project such that you can create your own branches? Seems to be the simplest solution...

[2017-08-07 12:26] bagder commented on #364
The solution to that is of course to make sure we have a set of tests that don't do that. Besides, the initial work could for example just build neat on Linux and osx and make sure that they work.

I am and I can, but that's more work/more inconvenient, less visible on github and it doesn't help outside contributors.

[2017-08-07 12:31] tuexen commented on #364
Doesn't require "make sure that they work" an example, I can change via a PR, which talks to other nodes?

Since you are a project member, can't you add the stuff you think is necessary?

[2017-08-07 12:38] bagder commented on #364
No, since it requires access from an "organization owner/admin" something (that I'm not) to be allowed to show status on the github repo. I've now requested access from travis to create a travis-CI job for neat to show you the benefits.

[2017-08-07 12:40] weinrank commented on #364
I've set your level to "Admin", are you now able to change the settings?

[2017-08-07 13:05] bagder commented on #364
It doesn't seem to be enough, no. I'm a member of seven other github organizations and I can add repos from them, I think I need to be made a member of the organization, not just an admin of this particular repository to get that power granted. Right now it  seems only @weinrank is a member: https://github.com/orgs/NEAT-project/people

[2017-08-07 13:13] tuexen commented on #364
@bagder There are 33 members in the project, just only one (@weinrank) is a public member. I don't see you being listed there. Maybe that is a problem... Not sure how to add you (or if I'm able to do that).

[2017-08-07 13:21] bagder commented on #364
It's all very confusing really...

[2017-08-07 13:22] weinrank commented on #364
![image](https://user-images.githubusercontent.com/6726222/29028323-2eec4e12-7b84-11e7-9193-adf30c9617b3.png)

Just to get sure: When opening the "neat" repo, you don't see the "Settings" tab?

[2017-08-07 13:23] bagder commented on #364
Yes, but that's settings for the repository, not for the organization.

[2017-08-07 13:25] weinrank commented on #364
![image](https://user-images.githubusercontent.com/6726222/29028444-a599632e-7b84-11e7-89a5-bacdde0816c7.png)

Aren't you looking for the "Webhook" section? :)

[2017-08-07 13:26] weinrank commented on #364
Or the "Integration & Services" section...

[2017-08-07 13:31] bagder commented on #364
I go to travis-ci.org and try to add the neat repo. It requires access to the organization that I don't possess so I've requested said access.

It is not just a webhook, as then I could add it myself and travis wouldn't ask for said access.

Go ahead and look for yourself.

[2017-08-10 08:42] bagder opened #370 "Custom OpenSSL dir doesn't use the correct include path"
I can specify a custom OpenSSL to build neat with like this:

`cmake -DOPENSSL_ROOT_DIR=$HOME/build-openssl`

... and cmake will correctly identify that version. But it will not setup the correct include path to use the headers as installed in that custom directory, so it'll instead end up building with the system's default openssl headers.

The work-around for this is to manually provide the -I o

[2017-08-10 08:56] bagder opened #371 ""hard coded" compiler options in cmake"
The [CMakeLists.txt file](https://github.com/NEAT-project/neat/blob/master/CMakeLists.txt#L309-L310) sets a bunch of compiler options without checking if the used compiler supports them.

This causes warnings and errors when using other/older compilers.

The script should check that the options actually are supported by the used compiler before activating them, or at worst, only add them if asked

[2017-08-10 09:11] bagder opened #372 "target specific public headers"
'make install' should install a set of public headers that users need for using NEAT, with no regard to what actual target/platform the users will use.

Right now the cmake script selects a set of headers to install based on what is necessary at the time the library is built (for example bsd/linux and if there's SCTP support present etc). This makes it impossible for users on more than one platfor

[2017-08-10 09:23] bagder opened #373 "remove neat_queue.h from public headers"
Since there is no formal name spaces in the C programming language, libraries need to maintain its own scope in order to not step on others' toes. So that users can mix and match any set of libraries.

Thus, NEAT **must not** define public symbols that are not prefixed with "neat" or "NEAT", be it defines, functions or global variables. As if so, they risk colliding with others.

The `neat_queue.h

[2017-08-10 10:28] bagder commented on #141
Can someone please elaborate on why this was closed with no comment? @weinrank for example?

I'll volunteer to do the change if we can agree on it. I think it would be a huge improvement to code readability and maintainability. (I would also suggest that the code guidelines would urge authors to use neither prefix for pure static functions that aren't even library global)

[2017-08-10 11:33] weinrank commented on #141
I'm not sure why I closed it, the issue makes sense...

[2017-08-10 11:35] bagder commented on #141
Thanks. Perhaps we could even use a totally different prefix for private symbols, like for example just `nt_` to keep them short and distinctly different.

[2017-08-10 11:43] bagder commented on #141
POC doing the work with this [sed-file](https://github.com/NEAT-project/neat/files/1214733/sed-file.txt):

`$ sed -f sed-file --in-place *.[ch] tests/neat_resolver_example.c`

Results in this diffstat:

` 32 files changed, 1129 insertions(+), 1129 deletions(-)`

(uses `nt_` now but prefix is easy to change to something else, should we want to)

[2017-08-10 12:46] #372 closed

[2017-08-10 12:46] #373 closed

[2017-08-10 18:24] bagder commented on #364
Working on this now in #369, closing this.

[2017-08-10 18:24] #364 closed

[2017-08-11 11:00] #370 closed

[2017-08-28 09:52] #141 closed

[2017-08-29 13:06] robustness opened #378 "NEAT Socket API does NOT support socketpair()"
NEAT socket API is lack the support of socketpair() call, which creates an unnamed pair of connected sockets in the specified domain, of the specified type, and using the optionally specified protocol.

See the socketpair() description here:
http://man7.org/linux/man-pages/man2/socketpair.2.html

The socketpair() is used in rsync utility which is supposed to adapt to support NEAT library.

[2017-09-11 14:38] robustness opened #380 "nsa_pipe() causes "Segmentation fault (core dumped)""
Please just copy and paste the following lines of code and save as hello.c. Then compile and run the code:
$ gcc -Wall -lneat-socketapi-static  hello.c -o hello
$ ./hello

#include <stdio.h>
#include <neat.h>
#include <neat-socketapi.h>
#include <neat_queue.h>
int main()
{
	int fd[2];
	int ret;
	ret = nsa_pipe(fd);
	if (ret == 0) {
		printf("Sucessfully nsa_pipe\n");
	} else {
		printf("nsa_pipe f

[2017-09-26 15:21] dreibh commented on #378
Confirmed. I will add a wrapper.

[2017-09-26 15:23] dreibh commented on #380
Could you try the "neat-socketapi" branch? It should fix this issue.

(Note: you just need to include neat-socketapi.h. neat.h and neat_queue.h are not needed for the sockets API.)

[2017-09-27 15:48] dreibh commented on #380
Pull request #383 fixes the issue.

[2017-09-27 16:06] dreibh commented on #378
The wrapper is added in this pull request: https://github.com/NEAT-project/neat/pull/384 .

[2017-10-07 12:29] ghf2016 opened #386 "how to use cmt-sctp in NEAT?"
Is there any example in documentation? thx.

[2017-10-20 11:09] #378 closed

[2017-10-20 11:10] #380 closed

[2017-10-24 15:28] #238 closed

[2017-10-24 15:36] dreibh opened #391 "Output "DEPRECATED: Please update to new JSON properties style." by all examples"
All examples print "DEPRECATED: Please update to new JSON properties style." since quite some time now. This is not very helpful for users. The examples need an update to be really examples for how to properly set the properties according to the new JSON properties style!

[2017-10-24 15:49] naeemk commented on #209
I am unable to reproduce the same problem. Has this issue been resolved by now?

[2017-11-06 14:55] naeemk commented on #193
@bozakov: Can we say that the way the current policy system works (e.g. with priorities, scoring system in the candidate list) addresses this issue?

[2017-11-09 20:35] naeemk commented on #242
@karlgrin: can we come up with a strategy to pace out the candidates using the existing priority scheme?

[2017-11-11 23:02] mcmanus commented on #226
feel free to make the change if you like.

[2017-11-13 11:12] weinrank commented on #213
There are properties for both options and at least SCTP has implemented these features, see https://github.com/NEAT-project/neat/commit/de7e22a92469bd452035a6e67801d414e752b680

[2017-11-13 11:13] weinrank commented on #371
Fixed by #394

[2017-11-13 11:13] #371 closed

[2017-11-14 03:10] naeemk commented on #330
@dreibh: I am unfamiliar with what's deployed on the NorNet. @dreibh can you please answer this?

[2017-11-14 03:11] naeemk commented on #386
@dreibh: do you know of any pointers?

[2017-11-15 10:04] #319 closed

[2017-11-16 03:15] #213 closed

[2017-11-20 12:07] #391 closed

[2017-11-25 14:35] bozakov commented on #193
@naeemk While I can think of scenarios which would require this feature, AFAIK it hasn't been needed in real world examples. We can close for now and re-open at some point in the future if it becomes necessary again.

[2017-11-25 14:35] #193 closed

[2017-12-01 14:51] marceloleitner commented on #343
I can give it a try.

[2017-12-10 16:03] karlgrin commented on #363
@bagder To me it seems that it is enough to assign 'candidate->pollable_socket->fd' to '-1' after         'close(candidate->pollable_socket->fd)'. Or, is it something I am missing here?

[2017-12-10 16:33] bagder commented on #363
I don't understand the logic in this function so I'm not sure.

`if (candidate->pollable_socket->fd) {` in itself seems wrong since zero is a valid file descriptor, while -1 is typically used for an already-closed descriptor. That should probably rather be:

[code]

... but if we do that, the check further down that checks `if (candidate->pollable_socket->fd == -1)` would be totally superfluous as

[2017-12-11 12:32] kristrev commented on #283
I will take a look at this during the hackathon.

[2017-12-11 12:32] kristrev commented on #288
I will take a look at this during the hackathon.

[2017-12-11 12:44] weinrank opened #401 "tneat in loopback/local mode fails"
The tneat example has a `-L` switch which enables a loopback/local mode.
When calling `tneat -L` the application opens a listening/server flow and a connecting/client flow.
The connecting flow connects to 127.0.0.1, sends n messages and closes the flow afterwards.
In theory, this should work.

I see multiple issues.
First: it simply fails on Linux and FreeBSD
Second: when failing, we have an addit

[2017-12-11 12:45] weinrank commented on #401
PS: The log has been collected on a Ubuntu 17.10 machine.

[2017-12-12 11:54] weinrank opened #402 "ERROR: Invalid property format"
When running `tneat -P prop_sctp_multihomed.json` the example exits with an error:
[code]

This also happens for the other property examples.

[2017-12-13 12:04] bozakov opened #404 "Cannot compile socket-api on MacOS"
The compiler complains about

    unknown type name 'off64_t

It appear that this can be fixed by including the following in the neat-socketapi header

[code]

However there are also the following errors:

    use of undeclared identifier 'SOCK_NONBLOCK'
    use of undeclared identifier 'SOCK_CLOEXEC'

[2017-12-13 12:22] bozakov commented on #402
The formats should be fixed now, however I'm not sure about the handling of multiple IPs in `prop_sctp_multihomed`. Please report back!

[2017-12-13 12:24] bozakov commented on #282
For this scenario, is the Policy Manager running at all?

[2017-12-13 12:25] bagder commented on #282
I used no policy manager when I spotted this behavior.

[2017-12-19 09:47] karlgrin commented on #363
@bagder I have removed the lines
[code]
From my understanding, we should anyway close the file descriptor by entering the
[code]

If you agree, we could close this issue.

[2017-12-19 16:26] karlgrin commented on #199
@bagder I am not sure what you are referring to. As far as I can tell, the timeout doesn't drive client_http_run_once. Instead, it seems to be driven by events on the file descriptors of the respective libuv event loop.

[2017-12-19 16:42] karlgrin commented on #291
@bagder @naeemk Not able to recreate the problem. Actually, it seems to work for me. Have anyone checked this issue recently?

[2017-12-20 12:39] #209 closed

[2017-12-20 12:41] #225 closed

[2017-12-20 12:42] #219 closed

[2017-12-20 12:42] #216 closed

[2017-12-20 12:43] #212 closed

[2017-12-20 12:43] #211 closed

[2017-12-20 12:46] weinrank commented on #291
@karlgrin
I have and I still see the problem.
I've used the following command on a Ubuntu 17.10 machine.
``./client_http_run_once -n 80 bsd10.fh-muenster.de``

[2017-12-20 12:46] #324 closed

[2017-12-21 22:11] bagder commented on #363
The new code:

[code]
.. still doesn't check for != -1, but more importantly it doesn't set it to -1 after it closes the file descriptor so it will not match the correct check further down in the same function.

[2017-12-22 10:09] karlgrin commented on #242
@naeemk I guess this is something that needs to be discussed since it could have performance implications.

[2017-12-22 13:31] karlgrin commented on #199
@bagder Did some further test runs, and running  "./client_http_run_once -n 200 bsd10.fh-muenster.de" took less than 900 ms. I am not in a position to say whether on not that is fast or slow.

[2017-12-27 02:58] dreibh opened #407 "MPTCP transport property problem"
NEAT seems to ignore a property to prefer TCP over MPTCP when running on an MPTCP-capable kernel. MPTCP is enabled by sysctl. NEAT does not turn it off explicitly for the socket:

static const char* properties = "{\
   \"transport\": {\
      \"value\": [ \"TCP\", \"MPTCP\", \"SCTP/UDP\", \"SCTP\" ],\
      \"precedence\": 1\
   }\
}";

This results in the connection to use MPTCP instead of TCP.

[2018-01-02 12:54] kristrev commented on #283
I have implemented and merged approach B) above. If "localhost" is passed to the resolver, the resolver will translate this to 127.0.0.1 or ::1, depending on the family of the source address. Since parsing /etc/hosts is not critical as of how, I opted for the easiest localhost-"solution".

Adding support for /etc/hosts should not be so hard and the structure used for localhost can be recycled. The

[2018-01-02 12:54] #283 closed

[2018-01-02 13:20] kristrev commented on #288
Fixed by starting the default 100ms timer if we get an error back from the DNS sever. It could be that the logic here should be tweaked a bit (increase timer, check number of servers that send bad replies, ...) in case other DNS servers will reply with a valid answer to the query.

[2018-01-02 13:20] #288 closed

[2018-01-04 13:08] #402 closed

[2018-01-04 13:17] #330 closed

[2018-01-04 13:17] #386 closed